<section role="region" aria-labelledby="footer" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="footer">Footer</h4>
    </div>
  </header>

  <!-- Primary Navigation -->
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Primary Navigation</h5>
    </header>


    <footer class="footer">
      <div class="container">
        
        <div class="row">
          <div class="brand col-xs-8 col-xs-offset-2 col-ms-6 col-ms-offset-3 col-sm-2 col-sm-offset-0 print-wide hidden-print">
            <a href="/"><img class="img-responsive" alt="Mecum Auctions" src="//cdn3.mecum.com/assets/builds/1.0.0-b391/images/MECUMAUCTIONSLogo.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"></a>
          </div>
          <div class="footer-content col-xs-12 col-ms-12 col-sm-10 print-wide">
            <div class="row footer-top hidden-print">
              <div class="col-sm-7 hidden-xs hidden-ms">
                <ul class="list-inline">
                  <li><a href="/photos/">Photos</a></li>
                  <li><a href="/sponsors/">Sponsors</a></li>
                  <li><a href="/jobs/">Jobs</a></li>
                  <li><a href="https://shop.mecum.com" target="_blank" rel="noopener noreferrer">Shop</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-ms-12 col-sm-5">
                <ul class="list-inline footer-social">
                  <li><a class="social-facebook" href="https://facebook.com/mecumauction" title="Follow us on Facebook" target="_blank" rel="noopener noreferrer"><i class="ma ma-facebook-official"></i></a></li>
                  <li><a class="social-twitter" href="https://twitter.com/intent/follow?screen_name=mecum" title="Follow us on Twitter"><i class="ma ma-twitter-square"></i></a></li>
                  <li><a class="social-instagram" href="https://instagram.com/mecum_auctions" title="Follow us on Instagram" target="_blank" rel="noopener noreferrer"><i class="ma ma-instagram"></i></a></li>
                  <li><a class="social-pinterest" href="https://pinterest.com/mecumauctions" title="Follow us on Pinterest" target="_blank" rel="noopener noreferrer"><i class="ma ma-pinterest-square"></i></a></li>
                  <li><a class="social-youtube" href="https://youtube.com/user/mecumauction" title="Follow us on Youtube" target="_blank" rel="noopener noreferrer"><i class="ma ma-youtube-square"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="row footer-bottom hidden-xs hidden-ms hidden-print">
              <div class="col-sm-8">
                <ul class="list-inline">
                  <li><a href="/about-us/">About Us</a></li>
                  <li><a href="/contact-us/">Contact Us</a></li>
                  <li><a href="/privacy-policy/">Privacy Policy</a></li>
                </ul>
              </div>
              <div class="col-sm-4 text-right">
                <ul class="list-inline footer-links-right">
                  <li><a href="/pdf/Auction_Charity_Guidelines.pdf">Charity Guidelines</a></li>
                </ul>
              </div>
            </div>
            <div class="row hidden-print">
              <div class="col-xs-12">
                <p class="copyright">
                  Copyright © 2000-2016 Mecum Auction, Inc. All rights reserved.<br>
                  Road Art®, Infonet® &amp; The Bid Goes On® are registered trademarks of Mecum Auction, Inc.<br>
                  <span class="build-number">1.0.0-b391</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>