<section role="region" aria-labelledby="panels" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="panels">Panels</h4>
    </div>
  </header>
  <div class="section__body clearfix">
    <nav class="panel panel-mecum viewlots hidden-print">
      <div class="panel-heading">
        <h3 class="panel-title">Chicago 2016</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 btn-container">
            
            
            <div class="btn-group-vertical double-line-bottom" role="group">
              
                <h5 class="group-header">Vehicles</h5>
                
                    <a type="button" class="btn btn-default active" href="/auctions/chicago-2016/lots/10/06/">
                      <span class="run-date">
                        <i class="ma ma-chevron-right btngray"></i>
                        Oct 6
                      </span>

                      <span class="run-feature">
                        T - Thursday
                      </span>
                    </a>
                  
                    <a type="button" class="btn btn-default" href="/auctions/chicago-2016/lots/10/07/">
                      <span class="run-date">
                        <i class="ma ma-chevron-right btngray"></i>
                        Oct 7
                      </span>

                      <span class="run-feature">
                        F - Friday
                      </span>
                    </a>
                  
                    <a type="button" class="btn btn-default" href="/auctions/chicago-2016/lots/10/08/">
                      <span class="run-date">
                        <i class="ma ma-chevron-right btngray"></i>
                        Oct 8
                      </span>

                      <span class="run-feature">
                        S - Saturday
                      </span>
                    </a>
                  
                <h5 class="group-header">Road Art</h5>
                
                    <a type="button" class="btn btn-default" href="/auctions/chicago-2016/lots/roadart/10/06/">
                      <span class="run-date">
                        <i class="ma ma-chevron-right btngray"></i>
                        Oct 6
                      </span>

                      <span class="run-feature">
                        H - Thursday
                      </span>
                    </a>
                  
                    <a type="button" class="btn btn-default" href="/auctions/chicago-2016/lots/roadart/10/07/">
                      <span class="run-date">
                        <i class="ma ma-chevron-right btngray"></i>
                        Oct 7
                      </span>

                      <span class="run-feature">
                        J - Friday
                      </span>
                    </a>
                  
                    <a type="button" class="btn btn-default" href="/auctions/chicago-2016/lots/roadart/10/08/">
                      <span class="run-date">
                        <i class="ma ma-chevron-right btngray"></i>
                        Oct 8
                      </span>

                      <span class="run-feature">
                        K - Saturday
                      </span>
                    </a>
                  
            </div>
            
              <div class="btn-group-vertical" role="group">
              
              
              <a type="button" class="btn btn-default" href="/auctions/chicago-2016/">
                <i class="ma ma-chevron-right btngray"></i>
                Auction Details
              </a>
              
                <a type="button" class="btn btn-default" href="/auctions/chicago-2016/lots/featured/">
                  <i class="ma ma-chevron-right btngray"></i>
                  Featured Lots
                </a>
              
              <a type="button" class="btn btn-default" href="/auctions/chicago-2016/lots/">
                <i class="ma ma-chevron-right btngray"></i>
                View All Lots
              </a>
              
              <a type="button" class="btn btn-default" href="/auctions/chicago-2016/lots/list/">
                <i class="ma ma-chevron-right btngray"></i>
                Text List
              </a>
            </div>
            
            <div class="sidebar-search">
              <a type="button" class="btn btn-branded btn-lg btn-block" id="expandSearch">
                <i class="ma ma-caret-right" id="auction-search-arrow"></i>
                Auction Search
              </a>
              <div id="searchArea" class="well well-sm">
                <form action="/search/" method="post" name="search_form">
                  <input type="hidden" name="searchScope" value="CH1016">

                  
                  <input type="hidden" name="viewlots" value="1">
                  <div class="form-group">
                    
                    <input type="text" class="form-control input-sm" id="searchText" name="searchText" onchange="removeMakesRequired()" placeholder="Enter Lot Number or Make Model">
                  </div>
                
                
                  <div class="form-group">
                    <select id="searchMakes" name="searchMake" class="form-control input-sm" required="">
                      <option value="" disabled="" selected="">Make</option>
                      
                          <option value="Acura">Acura</option>
                        
                          <option value="AMC">AMC</option>
                        
                          <option value="Armstrong Siddeley">Armstrong Siddeley</option>
                        
                          <option value="Audi">Audi</option>
                        
                          <option value="Bentley">Bentley</option>
                        
                          <option value="BMW">BMW</option>
                        
                          <option value="Buick">Buick</option>
                        
                          <option value="Cadillac">Cadillac</option>
                        
                          <option value="Chevrolet">Chevrolet</option>
                        
                          <option value="Chrysler">Chrysler</option>
                        
                          <option value="Cushman">Cushman</option>
                        
                          <option value="Desoto">Desoto</option>
                        
                          <option value="Dodge">Dodge</option>
                        
                          <option value="Excalibur">Excalibur</option>
                        
                          <option value="Factory Five">Factory Five</option>
                        
                          <option value="Ferrari">Ferrari</option>
                        
                          <option value="Fiat">Fiat</option>
                        
                          <option value="Ford">Ford</option>
                        
                          <option value="GMC">GMC</option>
                        
                          <option value="Harley-Davidson">Harley-Davidson</option>
                        
                          <option value="Honda">Honda</option>
                        
                          <option value="Imperial">Imperial</option>
                        
                          <option value="International">International</option>
                        
                          <option value="Jaguar">Jaguar</option>
                        
                          <option value="Jeep">Jeep</option>
                        
                          <option value="Lamborghini">Lamborghini</option>
                        
                          <option value="Landrover">Landrover</option>
                        
                          <option value="Lincoln">Lincoln</option>
                        
                          <option value="Mazda">Mazda</option>
                        
                          <option value="Mercedes-Benz">Mercedes-Benz</option>
                        
                          <option value="Mercury">Mercury</option>
                        
                          <option value="Morris">Morris</option>
                        
                          <option value="Nash">Nash</option>
                        
                          <option value="Oldsmobile">Oldsmobile</option>
                        
                          <option value="Packard">Packard</option>
                        
                          <option value="Plymouth">Plymouth</option>
                        
                          <option value="Pontiac">Pontiac</option>
                        
                          <option value="Porsche">Porsche</option>
                        
                          <option value="Reo">Reo</option>
                        
                          <option value="Rolls-Royce">Rolls-Royce</option>
                        
                          <option value="Shelby">Shelby</option>
                        
                          <option value="Subaru">Subaru</option>
                        
                          <option value="Toyota">Toyota</option>
                        
                          <option value="Volkswagen">Volkswagen</option>
                        
                          <option value="Volvo">Volvo</option>
                        
                          <option value="Willys">Willys</option>
                        
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control input-sm" name="searchModel" maxlength="75" placeholder="Model">
                  </div>
                  <div class="form-group row">
                    <div class="col-xs-6 startYear">
                      <input type="number" class="form-control input-sm" name="searchYearStart" maxlength="4" min="1875" max="2016" placeholder="Start Year">
                    </div>
                    <div class="col-xs-6 endYear">
                      <input type="number" class="form-control input-sm" name="searchYearEnd" maxlength="4" min="1875" max="2016" placeholder="End Year">
                    </div>
                  </div>
                
                  <div class="form-group">
                    <button type="submit" class="btn btn-branded btn-block" name="Submit">Search</button>
                  </div>
                  <div class="form-group">
                    <button type="reset" class="btn btn-branded btn-block" name="reset">Reset Search</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <script type="text/javascript" data-pagespeed-no-defer="">pagespeed.lazyLoadImages.overrideAttributeFunctions();</script><script>function removeMakesRequired(){document.getElementById("searchMakes").required=false;}</script>
        </div>
      </div>
    </nav>
  </div>
</section>