<section role="region" aria-labelledby="alerts" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="alerts">Alerts</h4>
    </div>
  </header>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">States: Base</h5>
    </header>
    
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
<% code("html") do %>
  <figure class="alert alert--success">
    <a class="alert__icon-trigger" role="button" href="#">
      <svg x="0px" y="0px" viewBox="0 0 16 16" class="alert__icon">
        <g>
          <path id="app-icon" class="st0" d="M0.8,1.7l13.2,13.2c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L2.2,0.3c-0.4-0.4-1-0.4-1.4,0 S0.4,1.4,0.8,1.7L0.8,1.7z M1.7,15.2L15.2,1.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L0.3,13.8c-0.4,0.4-0.4,1,0,1.4 C0.7,15.6,1.3,15.6,1.7,15.2L1.7,15.2z"></path>
        </g>
      </svg>
    </a>
    <h5 class="alert__title">High fives! You have successfully completed an action.</h5>
  </figure>
<% end %>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Component Usage</h5>
      <p>Alerts are to be used when a user needs to be notified of an action they took. For example, if a user creates a new account in the system, they should be notified if the action succeeds or fails. There are three styles of alerts: Success, warning and danger / failure. Depending on the action, the user should receive the appropriate response.</p>
    </header>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">HTML Guidelines</h5>
      <p>This table gives you a quick overview of the CSS classes that can be applied to create alerts.</p>
    </header>
    <table class="table table-alpha">
      <thead>
        <th>Class Name</th>
        <th>Usage</th>
      </thead>
      <tbody>
        <tr>
          <td style="width:30%">.alert</td>
          <td>This should be applied to the element you are styling to look like an alert. It is used to target alerts and hide them when the close icon is clicked. <% code("html") do %><figure class"alert"></figure><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">.alert--success</td>
          <td>This should be applied to the element you are styling to look like an alert. It provides the correct styles for the message being returned. <% code("html") do %><figure class"alert--success"></figure><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">[aria-hidden="true"]</td>
          <td>Set this on the alert when it is hidden from the view.</td>
        </tr>
        <tr>
          <td>[aria-hidden="false"]</td>
          <td>Set this on the alert when it is visible in the view.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>