<section role="region" aria-labelledby="breadcrumbs" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="breadcrumbs">Breadcrumbs</h4>
    </div>
  </header>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">States: Base</h5>
    </header>
    <ul class="breadcrumb__list">
      <% data.components.breadcrumbs.each do |breadcrumb| %>
        <li class="breadcrumb__item">
          <a href="#" class="breadcrumb__link breadcrumb__link--<%= breadcrumb.state %>"><%= breadcrumb.title %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
<% code("html") do %>
  <ul class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="#" class="breadcrumb__link breadcrumb__link--active">Account Name</a>
    </li>
    <li class="breadcrumb__item">
      <a href="#" class="breadcrumb__link breadcrumb__link--active">Site Name Goes Here</a>
    </li>
    <li class="breadcrumb__item">
      <a href="#" class="breadcrumb__link breadcrumb__link--not-active">Pool Name Goes Here</a>
    </li>
  </ul>
<% end %>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Component Usage</h5>
      <p>Breadcrumbs are used to allow the user to move back up the account, site or pool tree. As the user dives deeper into an account's details, we need to provide a way for them move back to different levels without having to go back to the dashboard and then traverse back down.</p>
    </header>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">HTML Guidelines</h5>
      <p>This table gives you a quick overview of the CSS classes that can be applied to create a breadcrumb list.</p>
    </header>
    <table class="table table-alpha">
      <thead>
        <th>Class Name</th>
        <th>Usage</th>
      </thead>
      <tbody>
        <tr>
          <td style="width:30%">.breadcrumb__list</td>
          <td>This class name should be applied to an unordered list tag. It is the parent of the breadcrumb items. <% code("html") do %><ul class="breadcrumb__list"> <!-- breadcrumb items here --> </ul><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">.breadcrumb__item</td>
          <td>This should be set on a list item. It requires a parent unordered list. <% code("html") do %><li class="breadcrumb__item"> <!-- breadcrumb link here --> </li><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">.breadcrumb__link</td>
          <td>This should be set on an anchor tag and should be wrapped by a parent list item. <% code("html") do %><a href="#" class="breadcrumb__link"> <!-- breadcrumb text --> </a><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">.breadcrumb__link--active</td>
          <td>Apply this state to breadcrumb links that take the user back up the tree. <% code("html") do %><a href="#" class="breadcrumb__link breadcrumb__link--active"> <!-- breadcrumb text --> </a><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">.breadcrumb__link--not-active</td>
          <td>Apply this state to the current breadcrumb link. This will give the user a visual indication of where they are at in the tree. <% code("html") do %><a href="#" class="breadcrumb__link breadcrumb__link--active"> <!-- breadcrumb text --> </a><% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>