<section role="region" aria-labelledby="buttons" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="buttons">Buttons</h4>
    </div>
  </header>
  <div class="section__body">
  </div>
</section>