<section role="region" aria-labelledby="typography" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="typography">Buttons</h4>
    </div>
  </header>
  <div class="section__body section__header">
    <div class="one__third">
      <h5 class="body__header__title">iOS</h5>
    </div>
    <div class="one__third">
      <h5 class="body__header__title">Android</h5>
    </div>
    <div class="one__third">
      <h5 class="body__header__title">Text Styles</h5>
    </div>
  </div>
  <!-- Primary Button -->
  <div class="section__body">
    <div class="one__third iOS">
      <button class="button--primary">Primary Button</button>
    </div>
    <div class="one__third android">
      <button class="button--primary">Primary Button</button>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Primary Button */
width: 160px; 
height: 27.5px; 
border-radius: 3px; 
background-color: #7dbc12;
font-family: Avenir-Roman; (iOS)
font-family: Roboto-Regular; (Android)
font-size: 13px; 
text-align: center; 
color: #ffffff;
      <% end %>
    </div>
  </div>

  <!-- Secondary Button -->
  <div class="section__body">
    <div class="one__third iOS">
      <button class="button--secondary button--outline">Secondary Button</button>
    </div>
    <div class="one__third android">
      <button class="button--secondary button--outline">Secondary Button</button>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Secondary Button */
width: 160px; 
height: 27.5px; 
border-radius: 3px; 
border: solid 1px #72bce2;
font-family: Avenir-Roman; (iOS)
font-family: Roboto-Regular; (Android)
font-size: 10.5px; 
text-align: center; 
color: #ffffff;
      <% end %>
    </div>
  </div>

  <!-- Next Page Button -->
  <div class="section__body">
    <div class="one__third iOS">
      <button class="button--next-page button--outline">Go To Next Page Button<span></span></button>
    </div>
    <div class="one__third android">
      <button class="button--next-page button--outline">Go To Next Page Button<span></span></button>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Next Page Button */
width: 160px; 
height: 20px; 
border-radius: 3px; 
border: solid 1px #72bce2;
font-family: Avenir-Roman; (iOS)
font-family: Roboto-Regular; (Android)
font-size: 8px; 
color: #72bce2;
      <% end %>
    </div>
  </div>

  <!-- Next Page Button -->
  <div class="section__body">
    <div class="one__third iOS">
      <button class="button--dual search"><span></span>New Search</button>
      <button class="button--dual filter"><span></span>Filter Results</button>
    </div>
    <div class="one__third android">
      <button class="button--dual search"><span></span>New Search</button>
      <button class="button--dual filter"><span></span>Filter Results</button>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Search Dual Buttons */
width: 75px; 
height: 22.5px; 
border-radius: 3px; 
background-color: #72bce2;
font-family: Avenir-Roman; (iOS)
font-family: Roboto-Regular; (Android)
font-size: 8px; 
color: #ffffff;
      <% end %>
    </div>
  </div>

</section>