<section role="region" aria-labelledby="form-elements" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="form-elements">Form Elements</h4>
    </div>
  </header>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Input Field</h5>
    </header><br>
    <input name="email" type="email" id="email" class="form-control form_data" size="50" required="required">
    <div class="clearfix"></div>
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
    <% code("html") do %>
<input name="email" type="email" id="email" class="form-control form_data" size="50" required="required">
    <% end %>
  </div>


  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Selection Dropdown</h5>
    </header><br>
    <label for="auctionID"><span>Choose Your Auction</span>                    
      <select name="auctionID" class="form-control input-lg">        
        <option value="CH1016" selected="selected" data-is-main-type="true" data-is-today="false" data-show-fees="true">Chicago 2016</option>       
        <option value="DA1116" data-is-main-type="true" data-is-today="false" data-show-fees="true">Dallas 2016</option>        
        <option value="AN1116" data-is-main-type="true" data-is-today="false" data-show-fees="true">Anaheim 2016</option>        
        <option value="KD1216" data-is-main-type="true" data-is-today="false" data-show-fees="true">Kansas City 2016</option>        
        <option value="FL0117" data-is-main-type="true" data-is-today="false" data-show-fees="true">Kissimmee 2017</option>        
      </select>
    </label>
    <div class="clearfix"></div>
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
    <% code("html") do %>
<label for="auctionID"><span>Choose Your Auction</span>                    
  <select name="auctionID" class="form-control input-lg">        
    <option value="CH1016" selected="selected" data-is-main-type="true" data-is-today="false" data-show-fees="true">Chicago 2016</option>       
    <option value="DA1116" data-is-main-type="true" data-is-today="false" data-show-fees="true">Dallas 2016</option>        
    <option value="AN1116" data-is-main-type="true" data-is-today="false" data-show-fees="true">Anaheim 2016</option>        
    <option value="KD1216" data-is-main-type="true" data-is-today="false" data-show-fees="true">Kansas City 2016</option>        
    <option value="FL0117" data-is-main-type="true" data-is-today="false" data-show-fees="true">Kissimmee 2017</option>        
  </select>
</label>
<% end %>
  </div>


  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Radio Button</h5>
    </header>
    
  </div>


  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Textarea</h5>
    </header>
    
  </div>
</section>