<section role="region" aria-labelledby="tabs" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="tabs">Tabs</h4>
    </div>
  </header>
  <div class="section__body">
    <div class="results-tab">
      <ul class="nav nav-tabs nav-pills-ms" role="tablist">
        <li role="presentation" class="active">
          <a href="#past-year" aria-controls="home" role="tab" data-toggle="tab">Past Year</a>
        </li>
        <li role="presentation">
          <a href="#year-2015" aria-controls="#year-2015" role="tab" data-toggle="tab">2015<span class="hidden-sm"> Top Ten</span></a>
        </li>
        <li role="presentation">
          <a href="#year-2014" aria-controls="#year-2014" role="tab" data-toggle="tab">2014<span class="hidden-sm"> Top Ten</span></a>
        </li>
        <li role="presentation">
          <a href="#year-2013" aria-controls="#year-2013" role="tab" data-toggle="tab">2013<span class="hidden-sm"> Top Ten</span></a>
        </li>
        <li role="presentation">
          <a href="#year-2012" aria-controls="#year-2012" role="tab" data-toggle="tab">2012<span class="hidden-sm"> Top Ten</span></a>
        </li>
        <li role="presentation">
          <a href="#year-2011" aria-controls="#year-2011" role="tab" data-toggle="tab">2011<span class="hidden-sm"> Top Ten</span></a>
        </li>  
      </ul>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
      <% code("html") do %>
<div class="results-tab">
  <ul class="nav nav-tabs nav-pills-ms" role="tablist">
    <li role="presentation" class="active"><a href="#past-year" aria-controls="home" role="tab" data-toggle="tab">Past Year</a></li>
    <li role="presentation"><a href="#year-2015" aria-controls="#year-2015" role="tab" data-toggle="tab">2015<span class="hidden-sm"> Top Ten</span></a></li>
    <li role="presentation"><a href="#year-2014" aria-controls="#year-2014" role="tab" data-toggle="tab">2014<span class="hidden-sm"> Top Ten</span></a></li>
    <li role="presentation"><a href="#year-2013" aria-controls="#year-2013" role="tab" data-toggle="tab">2013<span class="hidden-sm"> Top Ten</span></a></li>
    <li role="presentation"><a href="#year-2012" aria-controls="#year-2012" role="tab" data-toggle="tab">2012<span class="hidden-sm"> Top Ten</span></a></li>
    <li role="presentation"><a href="#year-2011" aria-controls="#year-2011" role="tab" data-toggle="tab">2011<span class="hidden-sm"> Top Ten</span></a></li>  
  </ul>
</div>
      <% end %>
  </div>
</section>