<section role="region" aria-labelledby="tables" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="tables">Tables</h4>
    </div>
  </header>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Schedule Table</h5>
    </header>
    <div class="row">
      <div class="col-xs-12 event-list-row">
        <div class="event-list event-list-collector-cars">
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <h4 class="event-dates">Oct 6-8</h4>
            </div>
            <div class="col-xs-12 col-sm-3">
              <h3 class="event-title">
                Chicago 2016 
              </h3>
            </div>
            <div class="col-xs-12 col-sm-2">
              <h5 class="event-numbers">1,000 VEHICLES</h5>
            </div>
            <div class="col-xs-12 col-sm-5 hidden-print">
              <ul>
                <li><a href="/collector-cars/how-to-sell/?auctionID=CH1016">Consign</a></li>
                <li><a href="/collector-cars/register-to-bid/?auctionID=CH1016">Bid</a></li>
                <li><a href="/auctions/chicago-2016/lots/featured/">Lots</a></li>
                <li><a href="/auctions/chicago-2016/">Auction Details</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 event-list-row">
        <div class="event-list event-list-collector-cars">
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <h4 class="event-dates">Nov 2-5</h4>
            </div>
            <div class="col-xs-12 col-sm-3">
              <h3 class="event-title">
                Dallas 2016 
              </h3>
            </div>
            <div class="col-xs-12 col-sm-2">
              <h5 class="event-numbers">1,000 VEHICLES</h5>
            </div>
            <div class="col-xs-12 col-sm-5 hidden-print">
              <ul>
                <li><a href="/collector-cars/how-to-sell/?auctionID=DA1116">Consign</a></li>
                <li><a href="/collector-cars/register-to-bid/?auctionID=DA1116">Bid</a></li>
                <li><a href="/auctions/dallas-2016/lots/featured/">Lots</a></li>
                <li><a href="/auctions/dallas-2016/">Auction Details</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 event-list-row">
        <div class="event-list event-list-collector-cars">
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <h4 class="event-dates">Nov 17-19</h4>
            </div>
            <div class="col-xs-12 col-sm-3">
              <h3 class="event-title">
                Anaheim 2016 
              </h3>
            </div>
            <div class="col-xs-12 col-sm-2">
              <h5 class="event-numbers">750 VEHICLES</h5>
            </div>
            <div class="col-xs-12 col-sm-5 hidden-print">
              <ul>
                <li><a href="/collector-cars/how-to-sell/?auctionID=AN1116">Consign</a></li>
                <li><a href="/collector-cars/register-to-bid/?auctionID=AN1116">Bid</a></li>
                <li><a href="/auctions/anaheim-2016/lots/featured/">Lots</a></li>
                <li><a href="/auctions/anaheim-2016/">Auction Details</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
      <% code("html") do %>
<div class="col-xs-12 event-list-row">
  <div class="event-list event-list-collector-cars">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <h4 class="event-dates">Oct 6-8</h4>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h3 class="event-title">
          Chicago 2016 
        </h3>
      </div>
      <div class="col-xs-12 col-sm-2">
        <h5 class="event-numbers">1,000 VEHICLES</h5>
      </div>
      <div class="col-xs-12 col-sm-5 hidden-print">
        <ul>
          <li><a href="/collector-cars/how-to-sell/?auctionID=CH1016">Consign</a></li>
          <li><a href="/collector-cars/register-to-bid/?auctionID=CH1016">Bid</a></li>
          <li><a href="/auctions/chicago-2016/lots/featured/">Lots</a></li>
          <li><a href="/auctions/chicago-2016/">Auction Details</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
      <% end %>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">TV Times Table</h5>
    </header>
    <div class="responsive-table responsive-table-bordered tv-times">
      <header class="responsive-table-header">
        <div class="responsive-table-row">
          <span>EVENT/SHOW</span>
          <span>DATE</span>
          <span>TIME (ET)</span>
          <span class="tv-event-type-header">TYPE</span>
          <span class="tv-event-network-header">NETWORK</span>
        </div>
      </header>
      <div class="responsive-table-body">
        <div class="responsive-table-row tv-event">
          <span class="tv-event-title">Mecum Top 10: Pre-War Classics</span>
          <span class="tv-event-date">Fri Sep 23 </span>
          
            <span class="tv-event-times">2:00PM - 2:30PM</span>
          
          <span class="tv-event-type">RE-AIR</span>
          <span class="tv-event-network tv-event-network-nbcsn"><img src="//cdn2.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png" alt="NBCSN"></span>
        </div>
      
        <div class="responsive-table-row tv-event">
          <span class="tv-event-title">Mecum Top 10: Street Rods</span>
          <span class="tv-event-date">Fri Sep 23 </span>
          
            <span class="tv-event-times">2:30PM - 3:00PM</span>
          
          <span class="tv-event-type">RE-AIR</span>
          <span class="tv-event-network tv-event-network-nbcsn"><img src="//cdn3.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png" alt="NBCSN"></span>
        </div>
      
        <div class="responsive-table-row tv-event">
          <span class="tv-event-title">Monterey</span>
          <span class="tv-event-date">Sat Sep 24 </span>
          
            <span class="tv-event-times">11:00PM - 1:00AM</span>
          
          <span class="tv-event-type">RE-AIR</span>
          <span class="tv-event-network tv-event-network-nbcsn"><img src="//cdn1.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png" alt="NBCSN"></span>
        </div>
      
        <div class="responsive-table-row tv-event">
          <span class="tv-event-title">Mecum Top 10: Mopar</span>
          <span class="tv-event-date">Wed Sep 28 </span>
          
            <span class="tv-event-times">12:00PM - 12:30PM</span>
          
          <span class="tv-event-type">RE-AIR</span>
          <span class="tv-event-network tv-event-network-nbcsn"><img src="//cdn2.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png" alt="NBCSN"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
      <% code("html") do %>
<div class="responsive-table responsive-table-bordered tv-times">
  <header class="responsive-table-header">
    <div class="responsive-table-row">
      <span>EVENT/SHOW</span>
      <span>DATE</span>
      <span>TIME (ET)</span>
      <span class="tv-event-type-header">TYPE</span>
      <span class="tv-event-network-header">NETWORK</span>
    </div>
  </header>
  <div class="responsive-table-body">
    <div class="responsive-table-row tv-event">
      <span class="tv-event-title">Mecum Top 10: Pre-War Classics</span>
      <span class="tv-event-date">Fri Sep 23 </span>
      <span class="tv-event-times">2:00PM - 2:30PM</span>
      <span class="tv-event-type">RE-AIR</span>
      <span class="tv-event-network tv-event-network-nbcsn"><img src="//cdn2.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png" alt="NBCSN"></span>
    </div>
  </div>
</div>
      <% end %>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Bidder Information Table</h5>
    </header>
    <div class="table-responsive">
      <table id="premiums" class="table table-striped table-responsive table-bordered">
        <thead>
          <tr>
            <th>Bidder Type</th>
            <th>Automobile</th> <th>Road Art</th> <th>Credit Card Surcharge</th> <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>At Event (Standard)</td>
            <td>10%</td> <td>18%</td> <td> 3%</td> <td>Cash, Check or Wire Transfer. Credit Card for Road Art Only.</td>
          </tr>
          <tr>
            <td>Telephone</td>
            <td>12%</td> <td>20%</td> <td> 3%</td> <td>Cash, Check or Wire Transfer. Credit Card for Road Art Only.</td>
          </tr>
          <tr>
            <td>Internet</td>
            <td>12%</td> <td>20%</td> <td> 3%</td> <td>Cash, Check or Wire Transfer. Credit Card for Road Art Only.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
      <% code("html") do %>
<div class="table-responsive">
  <table id="premiums" class="table table-striped table-responsive table-bordered">
    <thead>
      <tr>
        <th>Bidder Type</th>
        <th>Automobile</th> <th>Road Art</th> <th>Credit Card Surcharge</th> <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>At Event (Standard)</td>
        <td>10%</td> <td>18%</td> <td> 3%</td> <td>Cash, Check or Wire Transfer. Credit Card for Road Art Only.</td>
      </tr>
      <tr>
        <td>Telephone</td>
        <td>12%</td> <td>20%</td> <td> 3%</td> <td>Cash, Check or Wire Transfer. Credit Card for Road Art Only.</td>
      </tr>
      <tr>
        <td>Internet</td>
        <td>12%</td> <td>20%</td> <td> 3%</td> <td>Cash, Check or Wire Transfer. Credit Card for Road Art Only.</td>
      </tr>
    </tbody>
  </table>
</div>
      <% end %>
  </div>
</section>