<aside role="sidebar" class="page__navigation">
  <header role="banner" class="page__navigation__header">
    <% link_to '/' do %>
      <%= image_tag "logos/logo-white.svg", class: 'logo' %>
    <% end %>
  </header>
  <nav role="navigation" class="page__navigation__navbar">
    <h6 class="navbar__title">NAVIGATION</h6>
    <ul class="navbar__links">
      <% data.navigation.site_navigation.each do |item| %>
        <li class="navbar__item">
          <%= link_to item.section_title, '#', class: 'navbar__link--toggle' %>
          <ul class="navbar__submenu" aria-hidden="true">
            <% item.sections.each do |section| %>
              <li class="navbar__submenu__item">
                <%= link_to section.section_title, section.section_link, class: 'submenu__item__link' %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>