// Select Input Component
// ========================================

// Variables
$select-background-size:             15px;
$select-background-position-mobile:  97%;
$select-background-position:         99%;
$select-background-url:              'icons/functional/arrow-down-icon.svg';

$select-background-inactive:         $grey-light;
$select-border-inactive:             1px solid $grey-base;


// Structure
select{
  @include font-type($primary-sans-serif, normal, 400);
  background-image: image-url($select-background-url);
  background-position: $select-background-position-mobile;
  background-repeat: no-repeat;
  background-size: $select-background-size;

  @include media($tablet) { background-position: $select-background-position; }

  &:disabled {
    background-color: $select-background-inactive;
    border: $select-border-inactive;
    color: $grey-dark;
    cursor: not-allowed;
  }
}
