<!DOCTYPE html>
<html>
  <head>
    <title>Design Guide | Mecum Auto Auctions</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1 user-scalable=no">

    <!-- Favicons -->

    <!-- Stylesheets -->
    <link href="../stylesheets/application.css" rel="stylesheet" type="text/css" /><link href="../stylesheets/syntax.css" rel="stylesheet" type="text/css" />

    <!-- Fonts -->

    <link href="https://www.mecum.com/favicon.ico" type="image/x-icon" rel="icon">
  
    <link href="//cdn2.mecum.com/assets/builds/1.0.0-b391/images/icons/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="//cdn3.mecum.com/assets/builds/1.0.0-b391/images/icons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="//cdn1.mecum.com/assets/builds/1.0.0-b391/images/icons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="//cdn2.mecum.com/assets/builds/1.0.0-b391/images/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="//cdn3.mecum.com/assets/builds/1.0.0-b391/images/icons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="//cdn1.mecum.com/assets/builds/1.0.0-b391/images/icons/icon-hires.png" rel="icon" sizes="192x192">
    <link href="//cdn2.mecum.com/assets/builds/1.0.0-b391/images/icons/icon-normal.png" rel="icon" sizes="128x128">
    
  </head>
  <body class="components components_index">
    <aside role="sidebar" class="page__navigation site__navigation">
  <header role="banner" class="page__navigation__header">
<a href="/style-guide">      <img class="logo" src="../images/logos/logo.png" />
</a>  </header>
  <nav role="navigation" class="page__navigation__navbar">
    <h6 class="navbar__title">NAVIGATION</h6>
    <ul class="navbar__links">
        <li class="navbar__item">
          <a class="navbar__link--toggle navbar__link--toggle-icon" href="#">Design Elements</a>
          <ul class="navbar__submenu" aria-hidden="true">
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guideelements/#colors">Colors</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guideelements/#typography">Typography</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guideelements/#flags">Flags</a>
              </li>
          </ul>
        </li>
        <li class="navbar__item">
          <a class="navbar__link--toggle navbar__link--toggle-icon" href="#">Design Components</a>
          <ul class="navbar__submenu" aria-hidden="true">
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guidecomponents/#buttons">Buttons</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guidecomponents/#form-elements">Form Elements</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guidecomponents/#tables">Tables</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guidecomponents/#tabs">Tabs</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guidecomponents/#pagination">Pagination</a>
              </li>
          </ul>
        </li>
        <li class="navbar__item">
          <a class="navbar__link--toggle navbar__link--toggle-icon" href="#">Design Modules</a>
          <ul class="navbar__submenu" aria-hidden="true">
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guidemodules/#navigation">Navigation</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guidemodules/#footer">Footer</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="/style-guidemodules/#panels">Panels</a>
              </li>
          </ul>
        </li>
    </ul>
  </nav>
</aside>
    <main role="main" class="page">
      <header role="banner" aria-labelledby="styleguide-componets" class="section__header section__header--shadow">
  <div class="header__container">
    <h1 class="header__title" id="styleguide-components">Design Components</h1>
  </div>
</header>
<section role="region" aria-labelledby="buttons" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="buttons">Buttons</h4>
    </div>
  </header>

  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Home Page Buttons</h5>
    </header>
    <div class="event event-collector-cars">
      <ul>
        <li><a href="/collector-cars/how-to-sell/?auctionID=CH1016">Consign Now</a></li>
        <li><a href="/collector-cars/register-to-bid/?auctionID=CH1016">Register To Bid</a></li>
        <li><a href="/auctions/chicago-2016/lots/featured/">View lots</a></li>
        <li><a href="/auctions/chicago-2016/">Auction Details</a></li>
      </ul>
    </div>

    <div class="event event-motorcycles">
      <ul>
        <li><a href="/collector-cars/how-to-sell/?auctionID=CH1016">Consign Now</a></li>
        <li><a href="/collector-cars/register-to-bid/?auctionID=CH1016">Register To Bid</a></li>
        <li><a href="/auctions/chicago-2016/lots/featured/">View lots</a></li>
        <li><a href="/auctions/chicago-2016/">Auction Details</a></li>
      </ul>
    </div>

    <div class="event event-tractors">
      <ul>
        <li><a href="/collector-cars/how-to-sell/?auctionID=CH1016">Consign Now</a></li>
        <li><a href="/collector-cars/register-to-bid/?auctionID=CH1016">Register To Bid</a></li>
        <li><a href="/auctions/chicago-2016/lots/featured/">View lots</a></li>
        <li><a href="/auctions/chicago-2016/">Auction Details</a></li>
      </ul>
    </div>

    <div class="event event-roadart">
      <ul>
        <li><a href="/collector-cars/how-to-sell/?auctionID=CH1016">Consign Now</a></li>
        <li><a href="/collector-cars/register-to-bid/?auctionID=CH1016">Register To Bid</a></li>
        <li><a href="/auctions/chicago-2016/lots/featured/">View lots</a></li>
        <li><a href="/auctions/chicago-2016/">Auction Details</a></li>
      </ul>
    </div>

    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
<pre class="highlight html"><code><span class="c">&lt;!-- Collector Cars --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"event event-collector-cars"</span><span class="nt">&gt;</span>
<span class="c">&lt;!-- Motorcycles --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"event event-motorcycles"</span><span class="nt">&gt;</span>
<span class="c">&lt;!-- Tractors --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"event event-tractors"</span><span class="nt">&gt;</span>
<span class="c">&lt;!-- Road Art --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"event event-roadart"</span><span class="nt">&gt;</span>
</code></pre>

  </div>

  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Miscellaneous Search</h5>
    </header>
    <div class="col-md-3">
      <a type="button" class="btn btn-branded btn-lg btn-block" id="expandSearch"><i class="ma ma-caret-right" id="auction-search-arrow"></i> Auction Search</a>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3">
      <a class="btn btn-block btn-callout btn-branded" href="/auctions/chicago-2016/lots/" title="View All Lots">
        <i class="ma ma-question-circle"></i> Looking for All Lots?
      </a>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3">
      <div id="main-header" style="background:#fff;">
        <div class="infonet-links search-button-top">
          <a class="btn btn-mecum" href="/search/reset/1/"><i class="ma ma-search"></i> SEARCH</a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3">
      <div class="aside aside-register-to-bid">
        <button type="submit" class="btn btn-block btn-branded">Register To Bid</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
<pre class="highlight html"><code><span class="c">&lt;!-- Auction Search Button --&gt;</span>
<span class="nt">&lt;a</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-branded btn-lg btn-block"</span> <span class="na">id=</span><span class="s">"expandSearch"</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">"ma ma-caret-right"</span> <span class="na">id=</span><span class="s">"auction-search-arrow"</span><span class="nt">&gt;&lt;/i&gt;</span> Auction Search<span class="nt">&lt;/a&gt;</span>
<span class="c">&lt;!-- Looking for Lots Button --&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"btn btn-block btn-callout btn-branded"</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">title=</span><span class="s">"View All Lots"</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">"ma ma-question-circle"</span><span class="nt">&gt;&lt;/i&gt;</span> Looking for All Lots?<span class="nt">&lt;/a&gt;</span>
<span class="c">&lt;!-- Top Level Search Button --&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"btn btn-mecum"</span> <span class="na">href=</span><span class="s">"/search/reset/1/"</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">"ma ma-search"</span><span class="nt">&gt;&lt;/i&gt;</span> SEARCH<span class="nt">&lt;/a&gt;</span>
<span class="c">&lt;!-- Register to Bid Sidebar Button --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">class=</span><span class="s">"btn btn-block btn-branded"</span><span class="nt">&gt;</span>Register To Bid<span class="nt">&lt;/button&gt;</span>
</code></pre>
  </div>

  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Next / Previous</h5>
    </header>
    <div class="col-xs-12 col-sm-4 col-md-3 hidden-print lot-detail-nav">  
      <div class="search-group hidden-sm hidden-ms hidden-xs">
        <div class="btn-group btn-group-justified" role="group">
          <a type="button" href="/auctions/chicago-2016/lots/10/08/page/2/#257660" class="btn btn-default top-button">Return to Lot List</a>
        </div>
        <div class="btn-group btn-group-justified" role="group">
          <a type="button" href="/lots/CH1016-272318/1957-ford-victoria-hardtop/" class="btn btn-default left-button "><i class="ma ma-chevron-left cccgray"></i><span class="mgl10">Previous</span></a>
          <a type="button" href="/lots/CH1016-257661/1965-plymouth-belvedere-i/" class="btn btn-default right-button "><span class="mgr10">Next</span><i class="ma ma-chevron-right cccgray"></i></a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 col-sm-4 col-md-3 hidden-print lot-detail-nav"</span><span class="nt">&gt;</span>  
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"search-group hidden-sm hidden-ms hidden-xs"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group btn-group-justified"</span> <span class="na">role=</span><span class="s">"group"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">href=</span><span class="s">"/auctions/chicago-2016/lots/10/08/page/2/#257660"</span> <span class="na">class=</span><span class="s">"btn btn-default top-button"</span><span class="nt">&gt;</span>Return to Lot List<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group btn-group-justified"</span> <span class="na">role=</span><span class="s">"group"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">href=</span><span class="s">"/lots/CH1016-272318/1957-ford-victoria-hardtop/"</span> <span class="na">class=</span><span class="s">"btn btn-default left-button "</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">"ma ma-chevron-left cccgray"</span><span class="nt">&gt;&lt;/i&gt;&lt;span</span> <span class="na">class=</span><span class="s">"mgl10"</span><span class="nt">&gt;</span>Previous<span class="nt">&lt;/span&gt;&lt;/a&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">href=</span><span class="s">"/lots/CH1016-257661/1965-plymouth-belvedere-i/"</span> <span class="na">class=</span><span class="s">"btn btn-default right-button "</span><span class="nt">&gt;&lt;span</span> <span class="na">class=</span><span class="s">"mgr10"</span><span class="nt">&gt;</span>Next<span class="nt">&lt;/span&gt;&lt;i</span> <span class="na">class=</span><span class="s">"ma ma-chevron-right cccgray"</span><span class="nt">&gt;&lt;/i&gt;&lt;/a&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>
  </div>

</section>
<section role="region" aria-labelledby="form-elements" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="form-elements">Form Elements</h4>
    </div>
  </header>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Input Field</h5>
    </header><br>
    <input name="email" type="email" id="email" class="form-control form_data" size="50" required="required">
    <div class="clearfix"></div>
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
<pre class="highlight html"><code><span class="nt">&lt;input</span> <span class="na">name=</span><span class="s">"email"</span> <span class="na">type=</span><span class="s">"email"</span> <span class="na">id=</span><span class="s">"email"</span> <span class="na">class=</span><span class="s">"form-control form_data"</span> <span class="na">size=</span><span class="s">"50"</span> <span class="na">required=</span><span class="s">"required"</span><span class="nt">&gt;</span>
</code></pre>
  </div>


  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Selection Dropdown</h5>
    </header><br>
    <label for="auctionID"><span>Choose Your Auction</span>                    
      <select name="auctionID" class="form-control input-lg">        
        <option value="CH1016" selected="selected" data-is-main-type="true" data-is-today="false" data-show-fees="true">Chicago 2016</option>       
        <option value="DA1116" data-is-main-type="true" data-is-today="false" data-show-fees="true">Dallas 2016</option>        
        <option value="AN1116" data-is-main-type="true" data-is-today="false" data-show-fees="true">Anaheim 2016</option>        
        <option value="KD1216" data-is-main-type="true" data-is-today="false" data-show-fees="true">Kansas City 2016</option>        
        <option value="FL0117" data-is-main-type="true" data-is-today="false" data-show-fees="true">Kissimmee 2017</option>        
      </select>
    </label>
    <div class="clearfix"></div>
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
<pre class="highlight html"><code><span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"auctionID"</span><span class="nt">&gt;&lt;span&gt;</span>Choose Your Auction<span class="nt">&lt;/span&gt;</span>                    
  <span class="nt">&lt;select</span> <span class="na">name=</span><span class="s">"auctionID"</span> <span class="na">class=</span><span class="s">"form-control input-lg"</span><span class="nt">&gt;</span>        
    <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"CH1016"</span> <span class="na">selected=</span><span class="s">"selected"</span> <span class="na">data-is-main-type=</span><span class="s">"true"</span> <span class="na">data-is-today=</span><span class="s">"false"</span> <span class="na">data-show-fees=</span><span class="s">"true"</span><span class="nt">&gt;</span>Chicago 2016<span class="nt">&lt;/option&gt;</span>       
    <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"DA1116"</span> <span class="na">data-is-main-type=</span><span class="s">"true"</span> <span class="na">data-is-today=</span><span class="s">"false"</span> <span class="na">data-show-fees=</span><span class="s">"true"</span><span class="nt">&gt;</span>Dallas 2016<span class="nt">&lt;/option&gt;</span>        
    <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AN1116"</span> <span class="na">data-is-main-type=</span><span class="s">"true"</span> <span class="na">data-is-today=</span><span class="s">"false"</span> <span class="na">data-show-fees=</span><span class="s">"true"</span><span class="nt">&gt;</span>Anaheim 2016<span class="nt">&lt;/option&gt;</span>        
    <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"KD1216"</span> <span class="na">data-is-main-type=</span><span class="s">"true"</span> <span class="na">data-is-today=</span><span class="s">"false"</span> <span class="na">data-show-fees=</span><span class="s">"true"</span><span class="nt">&gt;</span>Kansas City 2016<span class="nt">&lt;/option&gt;</span>        
    <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"FL0117"</span> <span class="na">data-is-main-type=</span><span class="s">"true"</span> <span class="na">data-is-today=</span><span class="s">"false"</span> <span class="na">data-show-fees=</span><span class="s">"true"</span><span class="nt">&gt;</span>Kissimmee 2017<span class="nt">&lt;/option&gt;</span>        
  <span class="nt">&lt;/select&gt;</span>
<span class="nt">&lt;/label&gt;</span>
</code></pre>
  </div>


  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Radio Button</h5>
    </header>
    
  </div>


  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Textarea</h5>
    </header>
    
  </div>
</section>
<section role="region" aria-labelledby="tables" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="tables">Tables</h4>
    </div>
  </header>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Schedule Table</h5>
    </header>
    <div class="row">
      <div class="col-xs-12 event-list-row">
        <div class="event-list event-list-collector-cars">
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <h4 class="event-dates">Oct 6-8</h4>
            </div>
            <div class="col-xs-12 col-sm-3">
              <h3 class="event-title">
                Chicago 2016 
              </h3>
            </div>
            <div class="col-xs-12 col-sm-2">
              <h5 class="event-numbers">1,000 VEHICLES</h5>
            </div>
            <div class="col-xs-12 col-sm-5 hidden-print">
              <ul>
                <li><a href="/collector-cars/how-to-sell/?auctionID=CH1016">Consign</a></li>
                <li><a href="/collector-cars/register-to-bid/?auctionID=CH1016">Bid</a></li>
                <li><a href="/auctions/chicago-2016/lots/featured/">Lots</a></li>
                <li><a href="/auctions/chicago-2016/">Auction Details</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 event-list-row">
        <div class="event-list event-list-collector-cars">
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <h4 class="event-dates">Nov 2-5</h4>
            </div>
            <div class="col-xs-12 col-sm-3">
              <h3 class="event-title">
                Dallas 2016 
              </h3>
            </div>
            <div class="col-xs-12 col-sm-2">
              <h5 class="event-numbers">1,000 VEHICLES</h5>
            </div>
            <div class="col-xs-12 col-sm-5 hidden-print">
              <ul>
                <li><a href="/collector-cars/how-to-sell/?auctionID=DA1116">Consign</a></li>
                <li><a href="/collector-cars/register-to-bid/?auctionID=DA1116">Bid</a></li>
                <li><a href="/auctions/dallas-2016/lots/featured/">Lots</a></li>
                <li><a href="/auctions/dallas-2016/">Auction Details</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 event-list-row">
        <div class="event-list event-list-collector-cars">
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <h4 class="event-dates">Nov 17-19</h4>
            </div>
            <div class="col-xs-12 col-sm-3">
              <h3 class="event-title">
                Anaheim 2016 
              </h3>
            </div>
            <div class="col-xs-12 col-sm-2">
              <h5 class="event-numbers">750 VEHICLES</h5>
            </div>
            <div class="col-xs-12 col-sm-5 hidden-print">
              <ul>
                <li><a href="/collector-cars/how-to-sell/?auctionID=AN1116">Consign</a></li>
                <li><a href="/collector-cars/register-to-bid/?auctionID=AN1116">Bid</a></li>
                <li><a href="/auctions/anaheim-2016/lots/featured/">Lots</a></li>
                <li><a href="/auctions/anaheim-2016/">Auction Details</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 event-list-row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"event-list event-list-collector-cars"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 col-sm-2"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"event-dates"</span><span class="nt">&gt;</span>Oct 6-8<span class="nt">&lt;/h4&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 col-sm-3"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"event-title"</span><span class="nt">&gt;</span>
          Chicago 2016 
        <span class="nt">&lt;/h3&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 col-sm-2"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h5</span> <span class="na">class=</span><span class="s">"event-numbers"</span><span class="nt">&gt;</span>1,000 VEHICLES<span class="nt">&lt;/h5&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 col-sm-5 hidden-print"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;ul&gt;</span>
          <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/collector-cars/how-to-sell/?auctionID=CH1016"</span><span class="nt">&gt;</span>Consign<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
          <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/collector-cars/register-to-bid/?auctionID=CH1016"</span><span class="nt">&gt;</span>Bid<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
          <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/auctions/chicago-2016/lots/featured/"</span><span class="nt">&gt;</span>Lots<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
          <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/auctions/chicago-2016/"</span><span class="nt">&gt;</span>Auction Details<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="nt">&lt;/ul&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">TV Times Table</h5>
    </header>
    <div class="responsive-table responsive-table-bordered tv-times">
      <header class="responsive-table-header">
        <div class="responsive-table-row">
          <span>EVENT/SHOW</span>
          <span>DATE</span>
          <span>TIME (ET)</span>
          <span class="tv-event-type-header">TYPE</span>
          <span class="tv-event-network-header">NETWORK</span>
        </div>
      </header>
      <div class="responsive-table-body">
        <div class="responsive-table-row tv-event">
          <span class="tv-event-title">Mecum Top 10: Pre-War Classics</span>
          <span class="tv-event-date">Fri Sep 23 </span>
          
            <span class="tv-event-times">2:00PM - 2:30PM</span>
          
          <span class="tv-event-type">RE-AIR</span>
          <span class="tv-event-network tv-event-network-nbcsn"><img src="//cdn2.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png" alt="NBCSN"></span>
        </div>
      
        <div class="responsive-table-row tv-event">
          <span class="tv-event-title">Mecum Top 10: Street Rods</span>
          <span class="tv-event-date">Fri Sep 23 </span>
          
            <span class="tv-event-times">2:30PM - 3:00PM</span>
          
          <span class="tv-event-type">RE-AIR</span>
          <span class="tv-event-network tv-event-network-nbcsn"><img src="//cdn3.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png" alt="NBCSN"></span>
        </div>
      
        <div class="responsive-table-row tv-event">
          <span class="tv-event-title">Monterey</span>
          <span class="tv-event-date">Sat Sep 24 </span>
          
            <span class="tv-event-times">11:00PM - 1:00AM</span>
          
          <span class="tv-event-type">RE-AIR</span>
          <span class="tv-event-network tv-event-network-nbcsn"><img src="//cdn1.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png" alt="NBCSN"></span>
        </div>
      
        <div class="responsive-table-row tv-event">
          <span class="tv-event-title">Mecum Top 10: Mopar</span>
          <span class="tv-event-date">Wed Sep 28 </span>
          
            <span class="tv-event-times">12:00PM - 12:30PM</span>
          
          <span class="tv-event-type">RE-AIR</span>
          <span class="tv-event-network tv-event-network-nbcsn"><img src="//cdn2.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png" alt="NBCSN"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"responsive-table responsive-table-bordered tv-times"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">"responsive-table-header"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"responsive-table-row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;span&gt;</span>EVENT/SHOW<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;span&gt;</span>DATE<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;span&gt;</span>TIME (ET)<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"tv-event-type-header"</span><span class="nt">&gt;</span>TYPE<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"tv-event-network-header"</span><span class="nt">&gt;</span>NETWORK<span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/header&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"responsive-table-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"responsive-table-row tv-event"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"tv-event-title"</span><span class="nt">&gt;</span>Mecum Top 10: Pre-War Classics<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"tv-event-date"</span><span class="nt">&gt;</span>Fri Sep 23 <span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"tv-event-times"</span><span class="nt">&gt;</span>2:00PM - 2:30PM<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"tv-event-type"</span><span class="nt">&gt;</span>RE-AIR<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"tv-event-network tv-event-network-nbcsn"</span><span class="nt">&gt;&lt;img</span> <span class="na">src=</span><span class="s">"//cdn2.mecum.com/assets/builds/1.0.0-b391/images/tv-logos/nbcsn-horizontal.png"</span> <span class="na">alt=</span><span class="s">"NBCSN"</span><span class="nt">&gt;&lt;/span&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Bidder Information Table</h5>
    </header>
    <div class="table-responsive">
      <table id="premiums" class="table table-striped table-responsive table-bordered">
        <thead>
          <tr>
            <th>Bidder Type</th>
            <th>Automobile</th> <th>Road Art</th> <th>Credit Card Surcharge</th> <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>At Event (Standard)</td>
            <td>10%</td> <td>18%</td> <td> 3%</td> <td>Cash, Check or Wire Transfer. Credit Card for Road Art Only.</td>
          </tr>
          <tr>
            <td>Telephone</td>
            <td>12%</td> <td>20%</td> <td> 3%</td> <td>Cash, Check or Wire Transfer. Credit Card for Road Art Only.</td>
          </tr>
          <tr>
            <td>Internet</td>
            <td>12%</td> <td>20%</td> <td> 3%</td> <td>Cash, Check or Wire Transfer. Credit Card for Road Art Only.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"table-responsive"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;table</span> <span class="na">id=</span><span class="s">"premiums"</span> <span class="na">class=</span><span class="s">"table table-striped table-responsive table-bordered"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;thead&gt;</span>
      <span class="nt">&lt;tr&gt;</span>
        <span class="nt">&lt;th&gt;</span>Bidder Type<span class="nt">&lt;/th&gt;</span>
        <span class="nt">&lt;th&gt;</span>Automobile<span class="nt">&lt;/th&gt;</span> <span class="nt">&lt;th&gt;</span>Road Art<span class="nt">&lt;/th&gt;</span> <span class="nt">&lt;th&gt;</span>Credit Card Surcharge<span class="nt">&lt;/th&gt;</span> <span class="nt">&lt;th&gt;</span>Notes<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;/thead&gt;</span>
    <span class="nt">&lt;tbody&gt;</span>
      <span class="nt">&lt;tr&gt;</span>
        <span class="nt">&lt;td&gt;</span>At Event (Standard)<span class="nt">&lt;/td&gt;</span>
        <span class="nt">&lt;td&gt;</span>10%<span class="nt">&lt;/td&gt;</span> <span class="nt">&lt;td&gt;</span>18%<span class="nt">&lt;/td&gt;</span> <span class="nt">&lt;td&gt;</span> 3%<span class="nt">&lt;/td&gt;</span> <span class="nt">&lt;td&gt;</span>Cash, Check or Wire Transfer. Credit Card for Road Art Only.<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;/tr&gt;</span>
      <span class="nt">&lt;tr&gt;</span>
        <span class="nt">&lt;td&gt;</span>Telephone<span class="nt">&lt;/td&gt;</span>
        <span class="nt">&lt;td&gt;</span>12%<span class="nt">&lt;/td&gt;</span> <span class="nt">&lt;td&gt;</span>20%<span class="nt">&lt;/td&gt;</span> <span class="nt">&lt;td&gt;</span> 3%<span class="nt">&lt;/td&gt;</span> <span class="nt">&lt;td&gt;</span>Cash, Check or Wire Transfer. Credit Card for Road Art Only.<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;/tr&gt;</span>
      <span class="nt">&lt;tr&gt;</span>
        <span class="nt">&lt;td&gt;</span>Internet<span class="nt">&lt;/td&gt;</span>
        <span class="nt">&lt;td&gt;</span>12%<span class="nt">&lt;/td&gt;</span> <span class="nt">&lt;td&gt;</span>20%<span class="nt">&lt;/td&gt;</span> <span class="nt">&lt;td&gt;</span> 3%<span class="nt">&lt;/td&gt;</span> <span class="nt">&lt;td&gt;</span>Cash, Check or Wire Transfer. Credit Card for Road Art Only.<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;/tbody&gt;</span>
  <span class="nt">&lt;/table&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>
  </div>
</section>
<section role="region" aria-labelledby="tabs" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="tabs">Tabs</h4>
    </div>
  </header>
  <div class="section__body">
    <div class="results-tab">
      <ul class="nav nav-tabs nav-pills-ms" role="tablist">
        <li role="presentation" class="active">
          <a href="#past-year" aria-controls="home" role="tab" data-toggle="tab">Past Year</a>
        </li>
        <li role="presentation">
          <a href="#year-2015" aria-controls="#year-2015" role="tab" data-toggle="tab">2015<span class="hidden-sm"> Top Ten</span></a>
        </li>
        <li role="presentation">
          <a href="#year-2014" aria-controls="#year-2014" role="tab" data-toggle="tab">2014<span class="hidden-sm"> Top Ten</span></a>
        </li>
        <li role="presentation">
          <a href="#year-2013" aria-controls="#year-2013" role="tab" data-toggle="tab">2013<span class="hidden-sm"> Top Ten</span></a>
        </li>
        <li role="presentation">
          <a href="#year-2012" aria-controls="#year-2012" role="tab" data-toggle="tab">2012<span class="hidden-sm"> Top Ten</span></a>
        </li>
        <li role="presentation">
          <a href="#year-2011" aria-controls="#year-2011" role="tab" data-toggle="tab">2011<span class="hidden-sm"> Top Ten</span></a>
        </li>  
      </ul>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"results-tab"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-tabs nav-pills-ms"</span> <span class="na">role=</span><span class="s">"tablist"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#past-year"</span> <span class="na">aria-controls=</span><span class="s">"home"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>Past Year<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#year-2015"</span> <span class="na">aria-controls=</span><span class="s">"#year-2015"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>2015<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"hidden-sm"</span><span class="nt">&gt;</span> Top Ten<span class="nt">&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#year-2014"</span> <span class="na">aria-controls=</span><span class="s">"#year-2014"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>2014<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"hidden-sm"</span><span class="nt">&gt;</span> Top Ten<span class="nt">&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#year-2013"</span> <span class="na">aria-controls=</span><span class="s">"#year-2013"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>2013<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"hidden-sm"</span><span class="nt">&gt;</span> Top Ten<span class="nt">&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#year-2012"</span> <span class="na">aria-controls=</span><span class="s">"#year-2012"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>2012<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"hidden-sm"</span><span class="nt">&gt;</span> Top Ten<span class="nt">&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#year-2011"</span> <span class="na">aria-controls=</span><span class="s">"#year-2011"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>2011<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"hidden-sm"</span><span class="nt">&gt;</span> Top Ten<span class="nt">&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;</span>  
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>
  </div>
</section>
<section role="region" aria-labelledby="pagination" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="pagination">Pagination</h4>
    </div>
  </header>
  <div class="section__body clearfix">
    <nav class="pagination-container">
      <ul class="pagination">
        <li class="active"><span>1<span class="sr-only">Current Page</span></span></li>
          <li><a href="/auctions/chicago-2016/lots/10/06/page/2/" title="Page 2">2</a></li>  
          <li><a href="/auctions/chicago-2016/lots/10/06/page/3/" title="Page 3">3</a></li>   
          <li class="hidden-xs"><a href="/auctions/chicago-2016/lots/10/06/page/4/" title="Page 4">4</a></li>   
      <li class="hidden-xs"><a href="/auctions/chicago-2016/lots/10/06/page/2/" title="Next Page" rel="next"><i class="ma ma-angle-right"></i></a></li>
      <li><a href="/auctions/chicago-2016/lots/10/06/page/5/" title="Last Page"><span class="hidden-ms hidden-xs">Last</span><span class="hidden-sm hidden-md hidden-lg"><i class="ma ma-angle-double-right"></i></span></a></li>    
      </ul>
    </nav>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
<pre class="highlight html"><code><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"pagination-container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pagination"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;&lt;span&gt;</span>1<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sr-only"</span><span class="nt">&gt;</span>Current Page<span class="nt">&lt;/span&gt;&lt;/span&gt;&lt;/li&gt;</span>
      <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/auctions/chicago-2016/lots/10/06/page/2/"</span> <span class="na">title=</span><span class="s">"Page 2"</span><span class="nt">&gt;</span>2<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>  
      <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/auctions/chicago-2016/lots/10/06/page/3/"</span> <span class="na">title=</span><span class="s">"Page 3"</span><span class="nt">&gt;</span>3<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>   
      <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"hidden-xs"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/auctions/chicago-2016/lots/10/06/page/4/"</span> <span class="na">title=</span><span class="s">"Page 4"</span><span class="nt">&gt;</span>4<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>   
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"hidden-xs"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/auctions/chicago-2016/lots/10/06/page/2/"</span> <span class="na">title=</span><span class="s">"Next Page"</span> <span class="na">rel=</span><span class="s">"next"</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">"ma ma-angle-right"</span><span class="nt">&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/auctions/chicago-2016/lots/10/06/page/5/"</span> <span class="na">title=</span><span class="s">"Last Page"</span><span class="nt">&gt;&lt;span</span> <span class="na">class=</span><span class="s">"hidden-ms hidden-xs"</span><span class="nt">&gt;</span>Last<span class="nt">&lt;/span&gt;&lt;span</span> <span class="na">class=</span><span class="s">"hidden-sm hidden-md hidden-lg"</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">"ma ma-angle-double-right"</span><span class="nt">&gt;&lt;/i&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;</span>    
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/nav&gt;</span>
</code></pre>
  </div>
</section>
<footer role="footer" class="page__footer">
  <p class="text--grey">Mecum Auto Auctions | &copy; Copyright 2016 | All Rights Reserved</p>
</footer>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../javascript/application.js" type="text/javascript"></script>
  </body>
</html>