<section role="region" aria-labelledby="flags" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="flags">Flags</h4>
    </div>
  </header>
    <div class="section__body">
      <div class="section__body clearfix reset-padding-bottom reset-padding-left">
        <ul>
          <li class="card card--wide card--center float--left margin-right--charlie">
            <span class="flag__block">
              <span class="flag-group">
                <span class="flag flag-star">star</span>
              </span>
            </span>
            <h6 class="card__title">Star</h6>
            <h6 class="card__description text--uppercase"></h6>
          </li>
          <li class="card card--wide card--center float--left margin-right--charlie">
            <span class="flag__block">
              <span class="flag-group">
                <span class="flag flag-main">main attraction</span>
              </span>
            </span>
            <h6 class="card__title">Main Attraction</h6>
            <h6 class="card__description text--uppercase"></h6>
          </li>
          <li class="card card--wide card--center float--left margin-right--charlie">
            <span class="flag__block">
              <span class="flag-group">
                <span class="flag flag-no-reserve">No Reserve</span>
              </span>
            </span>
            <h6 class="card__title">No Reserve</h6>
            <h6 class="card__description text--uppercase"></h6>
          </li>
          <li class="card card--wide card--center float--left margin-right--charlie">
            <span class="flag__block">
              <span class="flag-group">
                <span class="flag flag-feature">featured</span>
              </span>
            </span>
            <h6 class="card__title">Featured</h6>
            <h6 class="card__description text--uppercase"></h6>
          </li>
          <li class="card card--wide card--center float--left margin-right--charlie">
            <span class="flag__block">
              <span class="flag-group">
                <span class="flag flag-star">star</span>
                <span class="flag flag-no-reserve">no reserve</span>
              </span>
            </span>
            <h6 class="card__title">Featured</h6>
            <h6 class="card__description text--uppercase">Two flags combined</h6>
          </li>
        </ul>
      </div> 
    </div>
</section>