<section role="region" aria-labelledby="typography" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="typography">Typography</h4>
    </div>
  </header>
  <div class="section__body section__header">
    <div class="one__third">
      <h5 class="body__header__title">iOS</h5>
    </div>
    <div class="one__third">
      <h5 class="body__header__title">Android</h5>
    </div>
    <div class="one__third">
      <h5 class="body__header__title">Text Styles</h5>
    </div>
  </div>
  <!-- Header -->
  <div class="section__body">
    <div class="one__third iOS">
      <h1>2016 Kia Optima - Fuel Economy</h1>
    </div>
    <div class="one__third android">
      <h1>2016 Kia Optima - Fuel Economy</h1>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Page & Content Header */
font-family: Avenir-Light; (IOS) 
font-family: Roboto-Light; (Android)  
font-size: 13px; 
line-height: 1.2; 
color: #000000;
      <% end %>
    </div>
  </div>
  <!-- Paragraph -->
  <div class="section__body">
    <div class="one__third iOS">
      <p>The last generation of the Kia Optima did away with the optional V-6 in favor of a turbocharged four-cylinder engine. Now the new-generation 2016 Optima adds a mid-range turbocharged engine that provides both better performance and fuel economy.</p>
    </div>
    <div class="one__third android">
      <p>The last generation of the Kia Optima did away with the optional V-6 in favor of a turbocharged four-cylinder engine. Now the new-generation 2016 Optima adds a mid-range turbocharged engine that provides both better performance and fuel economy.</p>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Paragraph */
font-family: Avenir-Light; (IOS) 
font-family: Roboto-Light; (Android) 
font-size: 7.5px; 
line-height: 1.6; 
color: #4a4a4a;
      <% end %>
    </div>
  </div>
  <!-- Blockquote -->
  <div class="section__body">
    <div class="one__third iOS">
      <blockquote>The 2016 Kia Optima drops the Hybrid variant for now; yet the new LX 1.6T model adds an efficiency-minded alternative to that.</blockquote>
    </div>
    <div class="one__third android">
      <blockquote>The 2016 Kia Optima drops the Hybrid variant for now; yet the new LX 1.6T model adds an efficiency-minded alternative to that.</blockquote>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Blockquote */
font-family: Avenir-LightOblique; (IOS) 
font-family: Roboto-LightItalic; (Android)
font-size: 9.5px;
line-height: 1.5;
text-align: right;
color: #4a4a4a;
      <% end %>
    </div>
  </div>
  <!-- Section Header -->
  <div class="section__body">
    <div class="one__third iOS">
      <h2>The Car Connection<br>Consumer Reviews</h2>
      <div class="section__header__rule"></div>
    </div>
    <div class="one__third android">
      <h2>The Car Connection<br>Consumer Reviews</h2>
      <div class="section__header__rule"></div>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Section Header */
font-family: Avenir-Heavy; (IOS)
font-family: Roboto-Bold; (Android)
font-size: 8px; line-height: 1.4;
text-align: center;
color: #4a4a4a;
      <% end %>
    </div>
  </div>
  <!-- Link -->
  <div class="section__body">
    <div class="one__third iOS">
      <a href="#">Link Style</a>
    </div>
    <div class="one__third android">
      <a href="#">Link Style</a>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Links */
font-family: Avenir-Light; (IOS)
font-family: Roboto-Light; (Android) 
font-size: 7.5px; 
color: #72bce2;
      <% end %>
    </div>
  </div>
  <!-- Link -->
  <div class="section__body">
    <div class="one__third iOS">
      <ul>
        <li>Unordered List</li>
        <li>Unordered List</li>
        <li>Unordered List</li>
      </ul>
      <ol>
        <li>Ordered List</li>
        <li>Ordered List</li>
        <li>Ordered List</li>
      </ol>
    </div>
    <div class="one__third android">
      <ul>
        <li>Unordered List</li>
        <li>Unordered List</li>
        <li>Unordered List</li>
      </ul>
      <ol>
        <li>Ordered List</li>
        <li>Ordered List</li>
        <li>Ordered List</li>
      </ol>
    </div>
    <div class="one__third">
      <% code("css") do %>
/* Ordered & Unordered Lists */
font-family: Avenir-Light; (IOS)
font-family: Roboto-Light; (Android) 
font-size: 6px; 
line-height: 1.3;
color: #4a4a4a;
      <% end %>
    </div>
  </div>
  
</section>