<section role="region" aria-labelledby="typography" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="typography">Typography</h4>
    </div>
  </header>
  <div class="section__body clearfix">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Standard Font Family: Univers</h5>
    </header>
    <% data.elements.font_family.each do |f| %>
      <h3 class="float--left margin-right--echo text--light text--uppercase"><%= f.letter %></h3>
    <% end %>
    <div class="clear">
      <% data.elements.font_family.each do |f| %>
        <h3 class="float--left margin-right--echo text--light"><%= f.letter %></h3>
      <% end %>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Home Page</h5>
    </header>
    <div class="event">
      <!-- Image home page -->
      <div class="event event-collector-cars">
        <div class="event-header">
          <a href="#" title="View Chicago 2016 Lots">
            <span class="event-title txt-brand">Chicago</span>
            <span class="event-dates"> 
              <time class="event-start-date" date="2016-10-06">October 6</time>-<time class="event-end-date" datetime="2016-10-08">8</time> <span class="slashes"></span>1,000 VEHICLES
            </span>
          </a>
        </div>
        <div class="event-image-container">
          <a href="#" title="View Chicago 2016 Lots">
            <div class="event-title-container">
              <h2 class="event-title hidden-xs hidden-ms txt-brand txt-lg txt-fw-bold txt-no-shadow">Chicago</h2>
            </div>
            <div class="event-details hidden-xs hidden-ms txt-white txt-lg txt-fw-bold txt-no-shadow">
              <span class="event-dates"> 
                <time class="event-start-date" date="2016-10-06">October 6</time>-<time class="event-end-date" datetime="2016-10-08">8</time>
              </span>
              <span class="event-numbers">1,000 VEHICLES</span> 
              <span class="tv-logo tv-logo-default tv-logo-no-shadow" title="Broadcast Live on NBCSN"></span>
            </div>
            <picture class="event-photo">
            <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source media="(min-width: 768px)" srcset="https://cdn2.mecum.com/assets/images/auctions/ch1016/car_banner_20160919_155014.jpg, https://cdn3.mecum.com/assets/images/auctions/ch1016/car_banner_2x_20160919_155017.jpg 2x">
              <source media="(min-width: 480px)" srcset="https://cdn1.mecum.com/assets/images/auctions/ch1016/car_mobile_banner_2x_20160919_155024.jpg">
              <source srcset="https://cdn3.mecum.com/assets/images/auctions/ch1016/car_mobile_banner_20160919_155021.jpg, https://cdn1.mecum.com/assets/images/auctions/ch1016/car_mobile_banner_2x_20160919_155024.jpg 2x">
            <!--[if IE 9]></video><![endif]-->
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAADs=" alt="Collector and Classic Car Auction - Chicago">
            </picture>
          </a>
        </div>
      </div>
      <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
      <% code("html") do %>
<div class="event-title-container">
  <h2 class="event-title hidden-xs hidden-ms txt-brand txt-lg txt-fw-bold txt-no-shadow">H2: Chicago</h2>
</div>
<div class="event-details hidden-xs hidden-ms txt-white txt-lg txt-fw-bold txt-no-shadow">
  <span class="event-dates"> 
    <time class="event-start-date" date="2016-10-06">October 6</time>-<time class="event-end-date" datetime="2016-10-08">8</time>
  </span>
  <span class="event-numbers">1,000 VEHICLES</span> 
  <span class="tv-logo tv-logo-default tv-logo-no-shadow" title="Broadcast Live on NBCSN"></span>
</div>
      <% end %>
      <h4>H4: Featured Chicago Lots</h4>
      <div class="event">
        <div class="event-featured-lots">
          <div class="event-featured-lot col-xs-3">
            <span class="lot-number">Lot S99</span>
            <span class="lot-title">1969 Pontiac GTO Judge </span>
          </div>
        </div>
      </div><br><br>
      <header role="title" class="body__header">
        <h5 class="body__header__title">Sample Code</h5>
      </header>
      <% code("html") do %>
<div class="event">
  <div class="event-featured-lots">
    <div class="event-featured-lot col-xs-3">
      <span class="lot-number">Lot S99</span>
      <span class="lot-title">1969 Pontiac GTO Judge </span>
    </div>
  </div>
</div>
      <% end %>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Auction Lot</h5>
    </header>
    <h1 class="auction-title">H1: Chicago 2016 <span class="slashes"></span> <span class="auction-date">Oct 6-8 </span></h1>
    <h2 class="auction-subtitle">H2: Schaumburg Convention Center <span class="slashes"></span> 1551 Thoreau Dr N <span class="slashes"></span>Schaumburg, IL 60173</h2>
    <h3 class="section-title">H3: Featured Lots</h3>
    <div class="lots-featured">
      <div class="lot">
        <div class="lot-number">Lot S113 </div>
        <a class="lot-title" href="#">1968 Ford Mustang Cobra Jet Lightweight</a>
        <div class="lot-series">1 of 50 Produced, Factory-Sponsored Race Car</div>
      </div>
    </div><br>
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
    <% code("html") do %>
<div class="lots-featured">
  <div class="lot">
    <div class="lot-number">Lot S113 </div>
    <a class="lot-title" href="#">1968 Ford Mustang Cobra Jet Lightweight</a>
    <div class="lot-series">1 of 50 Produced, Factory-Sponsored Race Car</div>
  </div>
</div>
    <% end %>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Standard Body Copy</h5>
    </header>
    <p>Ford had the beginnings of a drag-racing superstar when it made the 390/320 HP FE big-block engine available in the Mustang in 1967, but it took the creator of the famed Thunderbolt drag racers, Ford dealer Bob Tasca, to once again show Ford management the way to success.</p>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Fine Print</h5>
    </header>
    <div class="disclaimer">
      <p class="fine-print">Ford had the beginnings of a drag-racing superstar when it made the 390/320 HP FE big-block engine available in the Mustang in 1967, but it took the creator of the famed Thunderbolt drag racers, Ford dealer Bob Tasca, to once again show Ford management the way to success.</p>
    </div>
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
    <% code("html") do %>
<div class="disclaimer">
  <p class="fine-print">Ford had the beginnings of a drag-racing superstar when it made the 390/320 HP FE big-block engine available in the Mustang in 1967, but it took the creator of the famed Thunderbolt drag racers, Ford dealer Bob Tasca, to once again show Ford management the way to success.</p>
</div>
    <% end %>
  </div>
</section>