.alert {
	@include border-radius(0);
	font-size: 14px;
	margin-bottom: 15px;
	&.alert-icon {
		position: relative;
		padding-left: 42px;
		> i {
			position: absolute;
			left: 15px;
			top: 50%;
			font-size: 18px;
			margin-top: -9px;
		}
	}
	&.alert-lg {
		font-size: 16px;
		&.alert-icon {
			padding-left: 42px;
			> i {
				font-size: 22px;
				margin-top: -11px;
				left: 12px;
			}
		}
	}
}
