// Collection page styles

.lot-media-list {
	margin: 10px;
}

.lot-media-title {
	margin-left: 10px;
	margin-bottom: 5px;
}

.lot-media-display {
	margin-bottom: 10px;
	margin-top: 10px;
}

.group-desc img {
	max-width: 100%;
}

.pagination-summary {
	.btn {
		margin-top: -3px;
		margin-left: 10px;
	}
}
