.how-to-bid {
	div.grabber {
		font-family: $univers-cond-font;
		font-weight: 700;
		font-size: 22px;
		margin-top: 20px;
		margin-bottom: 10px;
		line-height: 1.1;
		span {
			display: block;
			color: #555;
		}
	}
	ul.steps {
		list-style: none;
		margin: 25px 15px 0;
		li {
			line-height: 1.5;
			clear: both;
			font-size: 18px;
			margin-bottom: 15px;
			&:first-line {
				line-height: 30px;
			}
			.step {
				font: 20px arial, sans-serif;
				color: #fff;
				text-align: center;
				float: left;
				width: 30px;
				height: 30px;
				margin: 0 0 10px 0;
				padding: 4px 0 0 0;
				@include border-radius(15px);
				font-weight: bold;
			}
			.step-text {
				padding-left: 38px;
				display: block;
			}
			a {
				border-bottom: 2px dotted $mecum-lt-gray;
				&:hover {
					border-color: darken($mecum-lt-gray, 10%);
					text-decoration: none;
				}
			}
		}
	}
	p {
		font-size: 16px;
		line-height: 24px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.jumbotron {
		margin: 0 -15px;
		padding: 0;
		position: relative;
		background-color: #e6e6e6;
		overflow: hidden;
		.content {
			text-align: left;
			padding: 0 15px;
			h1 {
				font-size: 36px;
				margin-top: 25px;
				margin-bottom: 5px;
				font-family: $univers-cond-font;
				padding-bottom: 10px;
				border-bottom: 1px solid #9d9d9d;
			}
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.text-gold-renewal {
	text-align: center;
	color: #666;
	font-weight: normal;
	margin: 25px 0 10px 0;
}


@media (min-width: $screen-sm) {
	.how-to-bid {
		.jumbotron {
			.content {
				background-color: rgba(#eee, .9);
				position: absolute;
				padding: 15px 30px;
				top: 50px;
				left: 15%;
				width: 70%;
				text-align: left;
				h1 {
					font-size: 36px;
					margin-top: 10px;
					margin-bottom: 15px;
					padding-bottom: 0;
					border-bottom: 0;
					font-family: $univers-cond-font;
				}
			}
		}
		ul.steps {
			margin-bottom: 35px;
		}
	}
}

@media (min-width: $screen-md) {
	.how-to-bid {
		.jumbotron {
			height: 560px;
			.content {
				padding: 20px 40px;
				top: 40px;
				left: 12.5%;
				width: 75%;
				h1 {
					font-size: 42px;
					margin-top: 10px;
					margin-bottom: 25px;
				}
			}
		}
		div.grabber {
			font-size: 26px;
			margin-top: 15px;
		}
	}
}

@media (min-width: $screen-lg) {
	.how-to-bid {
		.jumbotron {
			height: 675px;
			.content {
				padding: 30px 50px;
				top: 60px;
				left: 12.5%;
				width: 75%;
				h1 {
					margin-top: 15px;
				}
			}
		}
	}
}


.division-roadart {
	.how-to-bid {
		ul.steps {
			li {
				.step {
					color: #333;
				}
			}
		}
	}
}
