$mecum-icon-font: 'mecum-icons';

@font-face {
    font-family: $mecum-icon-font;
    src:   url('../fonts/mecum-icons.eot?66ag1j');
    src:   url('../fonts/mecum-icons.eot?66ag1j#iefix') format('embedded-opentype'),
        url('../fonts/mecum-icons.ttf?66ag1j') format('truetype'),
        url('../fonts/mecum-icons.woff?66ag1j') format('woff'),
        url('../fonts/mecum-icons.svg?66ag1j#mecum-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

$ma-wheel: "\e900";
$ma-roadart: "\e91c";
$ma-devices: "\e326";
$ma-car-alt: "\e531";
$ma-seat: "\e90e";
$ma-brochure: "\e0e0";
$ma-star-ticket: "\e553";
$ma-atm: "\e53e";
$ma-drink: "\e540";
$ma-new-releases: "\e031";
$ma-contact-calendar: "\e8a3";
$ma-mobile-phone: "\e325";
$ma-recent-actor: "\e03f";
$ma-app-settings: "\e8b9";
$ma-stars: "\e8d0";
$ma-timer: "\e425";
$ma-search: "\f002";
$ma-heart: "\f004";
$ma-user: "\f007";
$ma-cog: "\f013";
$ma-gear: "\f013";
$ma-tag: "\f02b";
$ma-tags: "\f02c";
$ma-print: "\f02f";
$ma-chevron-left: "\f053";
$ma-chevron-right: "\f054";
$ma-question-circle: "\f059";
$ma-info-circle: "\f05a";
$ma-plus: "\f067";
$ma-minus: "\f068";
$ma-exclamation-circle: "\f06a";
$ma-exclamation-triangle: "\f071";
$ma-warning: "\f071";
$ma-calendar: "\f073";
$ma-random: "\f074";
$ma-twitter-square: "\f081";
$ma-heart-o: "\f08a";
$ma-sign-in: "\f090";
$ma-twitter: "\f099";
$ma-facebook: "\f09a";
$ma-facebook-f: "\f09a";
$ma-certificate: "\f0a3";
$ma-arrow-circle-left: "\f0a8";
$ma-arrow-circle-right: "\f0a9";
$ma-arrow-circle-up: "\f0aa";
$ma-arrow-circle-down: "\f0ab";
$ma-globe: "\f0ac";
$ma-group: "\f0c0";
$ma-users: "\f0c0";
$ma-chain: "\f0c1";
$ma-link: "\f0c1";
$ma-paperclip: "\f0c6";
$ma-pinterest-square: "\f0d3";
$ma-google-plus-square: "\f0d4";
$ma-google-plus: "\f0d5";
$ma-money: "\f0d6";
$ma-caret-down: "\f0d7";
$ma-caret-up: "\f0d8";
$ma-caret-left: "\f0d9";
$ma-caret-right: "\f0da";
$ma-linkedin: "\f0e1";
$ma-comment-o: "\f0e5";
$ma-comments-o: "\f0e6";
$ma-exchange: "\f0ec";
$ma-angle-double-left: "\f100";
$ma-angle-double-right: "\f101";
$ma-angle-left: "\f104";
$ma-angle-right: "\f105";
$ma-dollar: "\f155";
$ma-usd: "\f155";
$ma-youtube-square: "\f166";
$ma-instagram: "\f16d";
$ma-automobile: "\f1b9";
$ma-car: "\f1b9";
$ma-file-pdf-o: "\f1c1";
$ma-motorcycle: "\f21c";
$ma-facebook-official: "\f230";
$ma-pinterest: "\f231";
$ma-reddit: "\f281";
$ma-location: "\e901";
$ma-v-card: "\e902";
$ma-home-alt: "\e916";
$ma-newspaper: "\e903";
$ma-camera: "\e904";
$ma-film: "\e905";
$ma-profile: "\e906";
$ma-price-tags: "\e907";
$ma-qrcode: "\e908";
$ma-ticket: "\e909";
$ma-cart: "\e90a";
$ma-credit-card: "\e91a";
$ma-lifebuoy: "\e90b";
$ma-phone: "\e90c";
$ma-envelop: "\e91d";
$ma-history: "\e90d";
$ma-bell: "\e90f";
$ma-loading: "\e910";
$ma-trophy: "\e911";
$ma-meter: "\e91b";
$ma-hammer: "\e917";
$ma-fire: "\e912";
$ma-clipboard: "\e913";
$ma-star-empty: "\e914";
$ma-star-full: "\e915";
$ma-close: "\e918";
$ma-checkmark: "\e919";

.ma {
    font-family: 'mecum-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ma-fw {
	display: inline-block;
	width: (18em / 14);
	text-align: center;
}

// Spinning Icons
// --------------------------

.ma-spin {
	display: inline-block;
  -webkit-animation: ma-spin 2s infinite linear;
          animation: ma-spin 2s infinite linear;
}

.ma-pulse {
  -webkit-animation: ma-spin 1s infinite steps(8);
          animation: ma-spin 1s infinite steps(8);
}

@-webkit-keyframes ma-spin {
	0% {
		-webkit-transform: rotate(0deg);
		 	-ms-transform: rotate(0deg);
	        	transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		 	-ms-transform: rotate(359deg);
	        	transform: rotate(359deg);
	}
}

@keyframes ma-spin {
	0% {
		-webkit-transform: rotate(0deg);
		 	-ms-transform: rotate(0deg);
	        	transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		 	-ms-transform: rotate(359deg);
	        	transform: rotate(359deg);
	}
}

.ma-wheel {
    &:before {
        content: $ma-wheel;
    }
}
.ma-roadart {
    &:before {
        content: $ma-roadart;
    }
}
.ma-devices {
    &:before {
        content: $ma-devices;
    }
}
.ma-car-alt {
    &:before {
        content: $ma-car-alt;
    }
}
.ma-seat {
    &:before {
        content: $ma-seat;
    }
}
.ma-brochure {
    &:before {
        content: $ma-brochure;
    }
}
.ma-star-ticket {
    &:before {
        content: $ma-star-ticket;
    }
}
.ma-atm {
    &:before {
        content: $ma-atm;
    }
}
.ma-drink {
    &:before {
        content: $ma-drink;
    }
}
.ma-new-releases {
    &:before {
        content: $ma-new-releases;
    }
}
.ma-contact-calendar {
    &:before {
        content: $ma-contact-calendar;
    }
}
.ma-mobile-phone {
    &:before {
        content: $ma-mobile-phone;
    }
}
.ma-recent-actor {
    &:before {
        content: $ma-recent-actor;
    }
}
.ma-app-settings {
    &:before {
        content: $ma-app-settings;
    }
}
.ma-stars {
    &:before {
        content: $ma-stars;
    }
}
.ma-timer {
    &:before {
        content: $ma-timer;
    }
}
.ma-search {
    &:before {
        content: $ma-search;
    }
}
.ma-heart {
    &:before {
        content: $ma-heart;
    }
}
.ma-user {
    &:before {
        content: $ma-user;
    }
}
.ma-cog {
    &:before {
        content: $ma-cog;
    }
}
.ma-gear {
    &:before {
        content: $ma-gear;
    }
}
.ma-tag {
    &:before {
        content: $ma-tag;
    }
}
.ma-tags {
    &:before {
        content: $ma-tags;
    }
}
.ma-print {
    &:before {
        content: $ma-print;
    }
}
.ma-chevron-left {
    &:before {
        content: $ma-chevron-left;
    }
}
.ma-chevron-right {
    &:before {
        content: $ma-chevron-right;
    }
}
.ma-question-circle {
    &:before {
        content: $ma-question-circle;
    }
}
.ma-info-circle {
    &:before {
        content: $ma-info-circle;
    }
}
.ma-plus {
    &:before {
        content: $ma-plus;
    }
}
.ma-minus {
    &:before {
        content: $ma-minus;
    }
}
.ma-exclamation-circle {
    &:before {
        content: $ma-exclamation-circle;
    }
}
.ma-exclamation-triangle {
    &:before {
        content: $ma-exclamation-triangle;
    }
}
.ma-warning {
    &:before {
        content: $ma-warning;
    }
}
.ma-calendar {
    &:before {
        content: $ma-calendar;
    }
}
.ma-random {
    &:before {
        content: $ma-random;
    }
}
.ma-twitter-square {
    &:before {
        content: $ma-twitter-square;
    }
}
.ma-heart-o {
    &:before {
        content: $ma-heart-o;
    }
}
.ma-sign-in {
    &:before {
        content: $ma-sign-in;
    }
}
.ma-twitter {
    &:before {
        content: $ma-twitter;
    }
}
.ma-facebook {
    &:before {
        content: $ma-facebook;
    }
}
.ma-facebook-f {
    &:before {
        content: $ma-facebook-f;
    }
}
.ma-certificate {
    &:before {
        content: $ma-certificate;
    }
}
.ma-arrow-circle-left {
    &:before {
        content: $ma-arrow-circle-left;
    }
}
.ma-arrow-circle-right {
    &:before {
        content: $ma-arrow-circle-right;
    }
}
.ma-arrow-circle-up {
    &:before {
        content: $ma-arrow-circle-up;
    }
}
.ma-arrow-circle-down {
    &:before {
        content: $ma-arrow-circle-down;
    }
}
.ma-globe {
    &:before {
        content: $ma-globe;
    }
}
.ma-group {
    &:before {
        content: $ma-group;
    }
}
.ma-users {
    &:before {
        content: $ma-users;
    }
}
.ma-chain {
    &:before {
        content: $ma-chain;
    }
}
.ma-link {
    &:before {
        content: $ma-link;
    }
}
.ma-paperclip {
    &:before {
        content: $ma-paperclip;
    }
}
.ma-pinterest-square {
    &:before {
        content: $ma-pinterest-square;
    }
}
.ma-google-plus-square {
    &:before {
        content: $ma-google-plus-square;
    }
}
.ma-google-plus {
    &:before {
        content: $ma-google-plus;
    }
}
.ma-money {
    &:before {
        content: $ma-money;
    }
}
.ma-caret-down {
    &:before {
        content: $ma-caret-down;
    }
}
.ma-caret-up {
    &:before {
        content: $ma-caret-up;
    }
}
.ma-caret-left {
    &:before {
        content: $ma-caret-left;
    }
}
.ma-caret-right {
    &:before {
        content: $ma-caret-right;
    }
}
.ma-linkedin {
    &:before {
        content: $ma-linkedin;
    }
}
.ma-comment-o {
    &:before {
        content: $ma-comment-o;
    }
}
.ma-comments-o {
    &:before {
        content: $ma-comments-o;
    }
}
.ma-exchange {
    &:before {
        content: $ma-exchange;
    }
}
.ma-angle-double-left {
    &:before {
        content: $ma-angle-double-left;
    }
}
.ma-angle-double-right {
    &:before {
        content: $ma-angle-double-right;
    }
}
.ma-angle-left {
    &:before {
        content: $ma-angle-left;
    }
}
.ma-angle-right {
    &:before {
        content: $ma-angle-right;
    }
}
.ma-dollar {
    &:before {
        content: $ma-dollar;
    }
}
.ma-usd {
    &:before {
        content: $ma-usd;
    }
}
.ma-youtube-square {
    &:before {
        content: $ma-youtube-square;
    }
}
.ma-instagram {
    &:before {
        content: $ma-instagram;
    }
}
.ma-automobile {
    &:before {
        content: $ma-automobile;
    }
}
.ma-car {
    &:before {
        content: $ma-car;
    }
}
.ma-file-pdf-o {
    &:before {
        content: $ma-file-pdf-o;
    }
}
.ma-motorcycle {
    &:before {
        content: $ma-motorcycle;
    }
}
.ma-facebook-official {
    &:before {
        content: $ma-facebook-official;
    }
}
.ma-pinterest {
    &:before {
        content: $ma-pinterest;
    }
}
.ma-reddit {
    &:before {
        content: $ma-reddit;
    }
}
.ma-location {
    &:before {
        content: $ma-location;
    }
}
.ma-v-card {
    &:before {
        content: $ma-v-card;
    }
}
.ma-home-alt {
    &:before {
        content: $ma-home-alt;
    }
}
.ma-home-alt {
    &:before {
        content: $ma-home-alt;
    }
}
.ma-newspaper {
    &:before {
        content: $ma-newspaper;
    }
}
.ma-camera {
    &:before {
        content: $ma-camera;
    }
}
.ma-film {
    &:before {
        content: $ma-film;
    }
}
.ma-profile {
    &:before {
        content: $ma-profile;
    }
}
.ma-price-tags {
    &:before {
        content: $ma-price-tags;
    }
}
.ma-qrcode {
    &:before {
        content: $ma-qrcode;
    }
}
.ma-ticket {
    &:before {
        content: $ma-ticket;
    }
}
.ma-cart {
    &:before {
        content: $ma-cart;
    }
}
.ma-credit-card {
    &:before {
        content: $ma-credit-card;
    }
}
.ma-lifebuoy {
    &:before {
        content: $ma-lifebuoy;
    }
}
.ma-phone {
    &:before {
        content: $ma-phone;
    }
}
.ma-envelop {
    &:before {
        content: $ma-envelop;
    }
}
.ma-history {
    &:before {
        content: $ma-history;
    }
}
.ma-bell {
    &:before {
        content: $ma-bell;
    }
}
.ma-loading {
    &:before {
        content: $ma-loading;
    }
}
.ma-trophy {
    &:before {
        content: $ma-trophy;
    }
}
.ma-meter {
    &:before {
        content: $ma-meter;
    }
}
.ma-hammer {
    &:before {
        content: $ma-hammer;
    }
}
.ma-fire {
    &:before {
        content: $ma-fire;
    }
}
.ma-clipboard {
    &:before {
        content: $ma-clipboard;
    }
}
.ma-star-empty {
    &:before {
        content: $ma-star-empty;
    }
}
.ma-star-full {
    &:before {
        content: $ma-star-full;
    }
}
.ma-close {
    &:before {
        content: $ma-close;
    }
}
.ma-checkmark {
    &:before {
        content: $ma-checkmark;
    }
}
