.iOS {
  h1 {
    font-family:'AvenirLT-Light';
    font-size:26px;
    line-height: 1.2;
    color:$black-base;
  }
  p {
    font-family: 'AvenirLT-Light';
    font-size:15px;
    line-height: 1.6;
    color:$grey-dark;
  }
  blockquote {
    font-family: 'AvenirLT-Light';
    font-style: italic;
    text-align: right;
    font-size: 19px;
    line-height: 1.5;
    color: $grey-dark;
    border-right:2px solid $green-base;
    padding:20px 20px 20px 0;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'AvenirLT-Heavy';
    font-size: 16px;
    color: $grey-dark;
  }
  .section__header__rule {
    height: 2px;
    width:80px;
    margin:0 auto;
    background: $grey-dark;
  }
  a {
    color:$blue-light;
    font-family: 'AvenirLT-Light';
    text-decoration: none;
    font-size:15px;
  }
  ol {
    display:inline-block;
    float: left;
    margin-left:40px;
    list-style-type: decimal;
    li {
      font-family: 'AvenirLT-Light';
      font-size: 12px;
      line-height: 1.3;
      color: $grey-dark;
    }
  }
  ul {
    display:inline-block;
    float: left;
    margin-right:20px;
    list-style-type: disc;
    width:30%;
    li {
      font-family: 'AvenirLT-Light';
      font-size: 12px;
      line-height: 1.3;
      color: $grey-dark;
    }
  }
  button {
    font-family: 'AvenirLT-Light';
    font-size:21px;
    &.button--outline {
      background: $white-base;
      border:2px solid $blue-light;
      color:$blue-light;
      font-size:18px;
      &:hover {
        background: $blue-light;
        color:$white-base;
      }
    }
    &.button--next-page {
      height:40px;
      font-size:16px;
      text-align: left;
      padding: 10px;
      span {
        background: url('../images/icons/misc/button-arrow.png');
        float:right;
        height: 14px;
        width: 9px;
        position: relative;
        top:1px;
      }
      &:hover {
        span {
          background: url('../images/icons/misc/button-arrow-hover.png');
        }
      }
    }
    &.button--dual {
      width:140px;
      font-size:14px;
      height:45px;
      display: inline-block;
      padding-left:0px;
      padding-right: 0px;
      &.search {
        span {
          background: url('../images/icons/misc/button-search.png');
          height: 13px;
          width: 13px;
          position: relative;
          top:1px;
          margin-right:5px;
          display: inline-block;
        }
      }
      &.filter {
        span {
          background: url('../images/icons/misc/button-filter.png');
          height: 11px;
          width: 11px;
          position: relative;
          top:1px;
          margin-right:5px;
          display: inline-block;
        }
      }
    }
  }
}