// Base Layout Stylesheets
// ========================================

// Variables
$site-background:        $grey-light;
$site-max-width:         1440px;


// Global Styles
html,
body {
  @include linear-gradient(-180deg, $purple-base 40%, $blue-base 100%);
  @include position(relative);
  background-color: $site-background;
  margin: 0 auto;
  max-width: $site-max-width;
  overflow: hidden;

  &.is-fixed {
    @include position(absolute);
    height: 100%;
    overflow: hidden;
  }
}


// Clears + Resets
.clear { clear: both; }
.clearfix { @include clearfix; }

@each $reset in $resets {
  $position:  nth($reset, 1);
  $zero:      nth($reset, 2);

  .reset-margin-#{$position} {
    margin-#{$position}: $zero !important;
  }

  .reset-padding-#{$position} {
    padding-#{$position}: $zero !important;
  }
};

.reset-padding { padding: 0 !important; }
.reset-margin  { margin:  0 !important; }


// Floats
.float--left {
  @include media($tablet) { float: left; }
}

.float--right {
  @include media($tablet) { float: right; }
}


// Spacers
@each $spacer in $spacers {
  $type:   nth($spacer, 1);
  $value:  nth($spacer, 2);

  .padding-bottom--#{$type} { padding-bottom: $value; }
  .padding-top--#{$type}    { padding-top:    $value; }

  .margin-bottom--#{$type} { margin-bottom: $value; }
  .margin-left--#{$type}   { margin-left:   $value; }
  .margin-right--#{$type}  { margin-right:  $value; }
  .margin-top--#{$type}    { margin-top:    $value; }
}