// Base Typography
// ========================================

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include font-type($primary-sans-serif, normal, 400);
  @include s-foxtrot;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-type($primary-sans-serif, normal, 700);
  color: $black-base;
  line-height: 1.0;
  margin-bottom: $spacer-delta;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 { font-size: $font-size-base * 4.25; }
h2 { font-size: $font-size-base * 3.25; }
h3 { font-size: $font-size-base * 2.75; }
h4 { font-size: $font-size-base * 1.85; }
h5 { font-size: $font-size-base * 1.45; }
h6 { font-size: $font-size-base;        }

.heading--h1 { @include s-alpha;   }
.heading--h2 { @include s-bravo;   }
.heading--h3 { @include s-charlie  }
.heading--h4 { @include s-delta;   }
.heading--h5 { @include s-echo;    }
.heading--h6 { @include s-foxtrot; }

p {
  @include font-type($primary-sans-serif, normal, 400);
  @include s-foxtrot;
  color: $black-base;
  line-height: $base-line-height;
  margin-bottom: 10px;
}

li,
dd{
  @include s-foxtrot;
  line-height: normal;
  margin-bottom: $spacer-echo;
}

a {
  @include font-type(inherit, normal, 400);
  color: $blue-base;
  text-decoration: none;

  &:active,
  &:focus {
    outline: none;
  }
}

.text--light {
  @include font-type($primary-sans-serif, normal, 100);
}

.text--uppercase {
  text-transform: capitalize;
}


// Text Alignment
@each $text-alignment in $text-alignments {
  $name:   nth($text-alignment, 1);
  $align:  nth($text-alignment, 2);

  .text--#{$name} {
    text-align: $align;
  }
}


// Text Colors
@each $name, $tones in $type-colors {
  $tone-color: nth($tones, 1);

  .text--#{$name} {
    color: $tone-color;
  };
}