// Colors Variables
// ========================================

  // Black
  $black-base:    #000000;

  // Blue
  $blue-base:     #373F51;
  $blue-light:    #72BCE2;

  // Green
  $green-base:    #7DBC12;

  // Orange
  $orange-base:   #F39C12;

  // Grey
  $grey-dark:     #4A4A4A;
  $grey-base:     #9B9B9B;

  // Purple
  $purple-base:   #2B2D42;
  $purple-light:  #44465B;

  // Red
  $red-base:      #E14E4E;

  // White
  $white-base:    #FFFFFF;
  $white-dark:    #F9F9FA;


  //MAIN PALETTE LIST
  $colors: (
    black-base:   $black-base,
    blue-base:    $blue-base,
    blue-light:   $blue-light,
    green-base:   $green-base,
    orange-base:  $orange-base,
    grey-base:    $grey-base,
    grey-dark:    $grey-dark,
    purple-base:  $purple-base,
    purple-light: $purple-light,
    red-base:     $red-base,
    white-base:   $white-base,
    white-dark:   $white-dark
  );