// Colors Variables
// ========================================

  // BLACK
  $mecum-black:     #000;

  // GRAY
  $mecum-dk-gray:   #2C2C2C;
  $mecum-md-gray:   #5b5b5b;
  $mecum-lt-gray:   #D4D2D3;
  $mecum-lter-gray: #e6e6e6;
  $mecum-base-gray: #CCC;
  $mecum-bg-color:  #575757;
  
  // RED
  $mecum-red:       #ed1c23;
  $mecum-link-red:  #C11b12;
  $mecum-maroon:    #721011;
  
  // YELLOW
  $mecum-yellow:    #fcf200;
  $mecum-hairline:  #9D9D9D;
  
  // GOLD
  $mecum-gold:      #c19754;
  
  // BLUE
  $mecum-blue:      #0066CC;

  // GREEN
  $mecum-green:     #64ae3e;

  // White
  $mecum-white:     #FFFFFF;


  //MAIN PALETTE LIST
  $colors: (
    mecum-black: $mecum-black,
    mecum-dk-gray: $mecum-dk-gray,
    mecum-md-gray: $mecum-md-gray,
    mecum-lt-gray: $mecum-lt-gray,
    mecum-lter-gray: $mecum-lter-gray,
    mecum-base-gray: $mecum-base-gray,
    mecum-bg-color: $mecum-bg-color,
    mecum-red: $mecum-red,
    mecum-link-red: $mecum-link-red,
    mecum-maroon: $mecum-maroon,
    mecum-yellow: $mecum-yellow,
    mecum-hairline: $mecum-hairline,
    mecum-gold: $mecum-gold,
    mecum-blue: $mecum-blue,
    mecum-green: $mecum-green,
    mecum-white: $mecum-white
  );

