// Links Variables
// ========================================

$links: (
  'primary': (
    $blue-base
  ),
  'secondary': (
    $purple-base
  ),
  'warning': (
    $red-base
  ),
  'disabled': (
    $grey-light
  )
);