// Table Variables
// ========================================

// Table Names
$tables: (
  table-alpha: table-alpha,
  table-bravo: table-bravo
);


// Table Map Styles
$table-config: (
  table-alpha: (
    background-color: $mecum-white,
    border: 1px solid $mecum-lt-gray,
    color: $mecum-dk-gray,
    padding: 15px 10px
  ),
  table-bravo: (
    background-color: $mecum-white,
    border: 1px solid $mecum-lt-gray,
    color: $mecum-dk-gray,
    padding: 15px 10px
  )
);