// Layout Module Stylesheet
// ========================================

// Variables
$page-background:               $mecum-white;
$page-offset:                   20rem;
$page-height:                   100vh;
$page-spacing:                  $spacer-charlie;

$page-section-max-width:        1440px;

$section-header-background:     $mecum-white;
$section-header-background-alt: $mecum-white;
$section-header-border:         1px solid $mecum-white;
$section-header-border-alt:     1px solid $mecum-dk-gray;
$section-header-spread:         0px 3px 6px 0px;
$section-header-shadwow:        rgba(172,172,179,0.40);

$section-header-containe-width: 600px;

$section-body-margin:           $spacer-echo;

$section-body-title-color:      $mecum-dk-gray;


// Structure
.page {
  background: $page-background;
  margin-left: $page-offset;
  height: $page-height;
  overflow-x: scroll;
}

.page__section {
}

.example__container {
  @include clearfix;
  @include position(relative);
  height: 500px;
}

// Page Section Header
.section__header {
  background-color: $section-header-background;
  border-bottom: $section-header-border;
  padding: $page-spacing $page-spacing $page-spacing;

  &.section__header--shadow {
    @include position(relative);
    @include box-shadow($section-header-spread, $section-header-shadwow);
    z-index: 99;
  }

  &.section__header--alt {
    background-color: $section-header-background-alt;
    border-bottom: $section-header-border-alt;
    margin: 0 $page-spacing;
    padding: $page-spacing 0;
  }
}

.header__container {
  width: $section-header-containe-width;
}

.header__title {
  @include font-type($primary-sans-serif, normal, 600);
  text-transform: uppercase;
}

.header__title--section {
  @include font-type($primary-sans-serif, normal, 400);
  margin-bottom: 0;
  color: $mecum-red;
  font-size:24px;
}


// Page Section Body
.section__body {
  @include clearfix;
  margin-top: $section-body-margin;
  margin-right:30px;
  margin-left:30px;
  padding: 30px 0;
  border-bottom:1px solid #efefef;
  .one__third {
    width:33.3333333%;
    display:inline-block;
    float: left;
    padding:20px;
  }
  &.section__header {
    background: #e2e2e2;
    margin: 0px 30px;
    text-align: center;
    height: 60px;
    padding:20px 0px;
    .one__third {
      padding:0;
    }
  }
}

.body__header__title {
  @include s-delta;
  color: $section-body-title-color;
}


// Page Footer
.page__footer {
  border-top: 1px solid $mecum-lter-gray;
  padding: $spacer-charlie;
  text-align: center;

  p {
    margin-bottom: 0;
    text-transform: uppercase;
  }
}