// Page Misc Elements Modules
// ========================================

// Variables
$card-height:         200px;
$card-radius:         2px;
$card-width:          150px;

$color-description:   $mecum-dk-gray;

$color-block-border:  1px solid $mecum-lt-gray;
$color-block-height:  125px;

// Structure
.card {
  @include box-shadow(0px 0px 10px 0px, rgba(207,207,214,0.5));
  border-radius: $card-radius;
  height: $card-height;
  margin-bottom: $spacer-charlie;
  width: $card-width;

  &.card--center {
    text-align: center;
  }
  &.card--wide {
    width: $card-width*2;
  }
}

.card__title,
.card__description {
  margin-bottom: $spacer-delta;
  font-size:16px;
  font-weight: 600;
}

.card__description {
  color: $color-description;
  font-size:12px;
  font-weight: 100;
}

// Create Color Blocks
@each $color in $colors {
  $type:   nth($color, 1);
  $value:  nth($color, 2);

  .color__block--#{$type} {
    background-color: $value;
    border-bottom: $color-block-border;
    display: block;
    height: $color-block-height;
    margin-bottom: $spacer-delta;
    width: $card-width;
  }
}

// Icon Block
.icon__block {
  background-color: $mecum-dk-gray;
  display: block;
  height: $color-block-height;
  margin-bottom: $spacer-delta;
  padding: $spacer-bravo;
  width: $card-width;
}
.flag__block {
  background-color: $mecum-lt-gray;
  display: block;
  height: $color-block-height;
  margin-bottom: $spacer-delta;
  padding: $spacer-bravo;
  width: $card-width*2;
}