---
title: Design Guides | Red Ventures Fuse
---
<header role="banner" class="section__header">
  <div class="header__container">
    <h6 class="text--grey">Version 1.0.0 | Updated: May 2016</h6>
    <h1 class="header__title" id="styleguide-introdruction">Design System - Fuse</h1>
    <p>Welcome to Fuse's design system guidelines. Here you will find the design standards defined for Red Veneture's product Fuse. The standards will evolve as the project progresses and new components and elements will be added as needed.</p>
  </div>
</header>
<section role="region" aria-labelledby="styleguide-introduction" class="page__section">
  <div class="page__section__body">

  </div>
</section>